<img src="https://ucfai.org//course/sp19/data-curation/banner.jpg">

<div class="col-12">
    <a class="btn btn-success btn-block" href="https://ucfai.org/signup">
        First Attendance? Sign Up!
    </a>
</div>

<div class="col-12">
    <h1> Cleaning and Manipulating a Dataset with Python </h1>
    <hr>
</div>

<div style="line-height: 2em;">
    <p>by: 
        <strong> Daniel Silva</strong>
        (<a href="https://github.com/danielzgsilva">@danielzgsilva</a>) <br> &emsp;&nbsp;
        <strong> John Muchovej</strong>
        (<a href="https://github.com/ionlights">@ionlights</a>)
   <br>&emsp;&nbsp;  on 2019-03-20</p>
</div>

## Today's lecture will cover how to load, clean, and manipulate a dataset using Python
###  In order to do this we'll be utilizing a Python library named Pandas.

####  Pandas is an open sourced library which provides high-performance, easy-to-use data structures and data analysis tools in Python. It is arguably the most preferred and widely used tool in the DS/AI industry for data munging and wrangling.

**If you do not yet have Python and Pandas installed on your machine I recommend using a package such as the <a href="https://www.anaconda.com/" target="_blank">Anaconda Distribution</a>. 
This can be installed for Windows, Linux, or Mac and will quickly install Python, Jupyter Notebook, and the most popular Data Science libraries onto your machine.

### Importing Libraries and Downloading Data

In order to use any Python library we need to first import the library...<br>Pandas is actually built on top of Numpy, a scientific computing library, and happens to work hand in hand with Pandas. We'll import this library as well.

In [87]:
# 'pd' will serve as the alias for Pandas when calling functions
import pandas as pd
import numpy as np
import os

This code downloads our dataset. To do this we'll utilize a script named gdown, which enables downloading files from Google Drive from the command line.

In [88]:
!wget https://raw.githubusercontent.com/circulosmeos/gdown.pl/master/gdown.pl
!chmod +x gdown.pl

!./gdown.pl https://drive.google.com/open?id=1uFRR5wtQTYjkZgfqUCtHfM1jJAT763Gm LA_Parking_Citations.csv

Will not apply HSTS. The HSTS database must be a regular and non-world-writable file.
ERROR: could not open HSTS store at '/home/danielzgsilva/.wget-hsts'. HSTS will be disabled.
--2019-03-19 16:33:18--  https://raw.githubusercontent.com/circulosmeos/gdown.pl/master/gdown.pl
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.4.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.4.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2072 (2.0K) [text/plain]
Saving to: ‘gdown.pl’

gdown.pl            100%[===================>]   2.02K  --.-KB/s    in 0s

2019-03-19 16:33:18 (11.0 MB/s) - ‘gdown.pl’ saved [2072/2072]

Will not apply HSTS. The HSTS database must be a regular and non-world-writable file.
ERROR: could not open HSTS store at '/home/danielzgsilva/.wget-hsts'. HSTS will be disabled.
Cannot open cookies file ‘gdown.cookie.temp’: No such file or directory
--2019-03-19 16:33:19--  https://docs.google.com/uc?id=1uFRR5wtQTYjkZgfqUCtHfM1jJAT763Gm&export=download
Resolving docs.google.com (docs.google.com)... 64.233.177.138, 64.233.177.139, 64.233.177.113, ...
Connecting to docs.google.com (docs.google.com)|64.233.177.138|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-04-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/i6ijl8nd2sahtu5q4omagen6cq0dveeh/1553025600000/08441798737055158100/*/1uFRR5wtQTYjkZgfqUCtHfM1jJAT763Gm?e=download [following]
Warning: wildcards not supported in HTTP.
--2019-03-19 16:33:20--  https://doc-10-04-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/i6ijl8nd2sahtu5q4omagen6cq0dveeh/1553025600000/08441798737055158100/*/1uFRR5wtQTYjkZgfqUCtHfM1jJAT763Gm?e=download
Resolving doc-10-04-docs.googleusercontent.com (doc-10-04-docs.googleusercontent.com)... 172.217.164.65, 2607:f8b0:4002:c08::84
Connecting to doc-10-04-docs.googleusercontent.com (doc-10-04-docs.googleusercontent.com)|172.217.164.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘LA_Parking_Citations.csv’

     0K ........ ....                        548K=24s

2019-03-19 16:33:44 (548 KB/s) - ‘LA_Parking_Citations.csv’ saved [13501340]

#### Loading in a Dataset with Python

At this point you might be asking thinking, "Well this is cool and all, but where the heck can I get a dataset in the first place??"

Fear not! There are a number of online repositories which supply both messy and clean datasets for almost any Data Science project you could imagine. Here are some of my favorites:
-  <a href="https://www.kaggle.com/" target="_blank">Kaggle</a>: A popular site within the Data Science community which hosts Machine Learning competitions. It contains a tremendous amount of datasets, all of which you can download.
    - As a note, you can open up a kernel under any competition or dataset and the data will already be loaded into the notebook, no need to download to your machine!
-  <a href="https://cloud.google.com/bigquery/public-data/" target="_blank">Google Public Datasets</a>
-  <a href="https://aws.amazon.com/start-now/?sc_channel=BA&sc_campaign=elevator&sc_publisher=captivate" target="_blank">Amazon Web Services Public Datasets</a>
-  <a href="http://mlr.cs.umass.edu/ml/UC" target="_blank">Irvine Machine Learning Repository</a>

**When you want to use Pandas to manipulate or analyze data, you’ll usually get your data in one of three different ways:**

-  Convert a Pythonlist, dictionary or Numpy array to a Pandas data frame
-  Open a local file using Pandas, usually a CSV file, but could also be a tab delimited text file (like TSV), Excel, etc
-  Open a remote file through a URL or read from a database such as SQL

In our case we will be loading our data set from a CSV (comma separated values file) which I downloaded from Kaggle:  <a href="https://www.kaggle.com/cityofLA/los-angeles-parking-citations" target="_blank">link to dataset</a>

In [95]:
# Note that file directories in Jupyter Notebook begin from the folder which holds your IPython notebook file. 
# This csv file is saved in the same folder as my notebook. If it was in another folder we'd need to further define the path
df = pd.read_csv('LA_Parking_Citations.csv')

Other methods exist such as:
-  **pd.read_feather** and	**pd.to_feather**     
Read into these to explore a lightweight and fast option to store and read DataFrames in/from memory
-  **pd.read_sql**
-  You may also pass the parameter **sep = ' '** to read text files using varying delimiters
   Eg. sep = '\t' for tab delimited files

### Pandas Components

Pandas has two core components:
-  **Series**: This is essentially a numpy.array, but for the most part these will be the columns within our Dataframes
-  **DataFrames**: These are the bread and butter of pandas. They're equivalent to a table or an excel spreadsheet (made up of columns and rows)

### Inpsecting and Analyzing a Dataframe

pandas.DataFrame.head() by default shows the first 5 rows of a Dataframe. An integer can be passed to load different numbers of rows

#### This dataset contains a line item for each ticket issued in the City of Los Angeles

In [96]:
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4346620795,2019-01-04T00:00:00,814.0,NaN,NaN,CA,201811.0,NaN,SUBA,PA,BL,5242 CARTWRIGHT AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451806.399,1882867.749
1,4346620806,2019-01-04T00:00:00,816.0,NaN,NaN,CA,201909.0,NaN,NISS,PA,WT,5334 CARTWRIGHT AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451807.009,1883469.460
2,4346620810,2019-01-04T00:00:00,818.0,NaN,NaN,CA,201905.0,NaN,LEXS,PA,BK,5338 CARTWRIGHT AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451807.036,1883495.621
3,4346620821,2019-01-04T00:00:00,819.0,NaN,NaN,CA,201905.0,NaN,LEXS,PA,BK,5338 CARTWRIGHT AVE,356,53.0,5200,DISPLAY OF PLATES,25.0,6451807.036,1883495.621
4,4346620832,2019-01-04T00:00:00,824.0,NaN,NaN,CA,201905.0,NaN,CHEV,PA,GY,5330 RIVERTON AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451146.820,1883618.633

In [97]:
df.head(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4346620795,2019-01-04T00:00:00,814.0,NaN,NaN,CA,201811.0,NaN,SUBA,PA,BL,5242 CARTWRIGHT AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451806.399,1882867.749
1,4346620806,2019-01-04T00:00:00,816.0,NaN,NaN,CA,201909.0,NaN,NISS,PA,WT,5334 CARTWRIGHT AVE,356,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6451807.009,1883469.460

pd.DataFrame.shape can quickly tell you the dimensions of your DataFrame

In [98]:
df.shape

(100000, 19)

The next two DataFrame methods can be used to tell us which datatypes our DataFrame consists of, as well as how many NULL values are found in each column

In [99]:
other.get_dtype_counts()

float64     8
int64       1
object     10
dtype: int64

Notice below that our Meter Id, Marked Time, and VIN columns have a significant number of NULL values. We'll deal with these in a bit...

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
Ticket number            100000 non-null int64
Issue Date               99994 non-null object
Issue time               99967 non-null float64
Meter Id                 23588 non-null object
Marked Time              2883 non-null float64
RP State Plate           100000 non-null object
Plate Expiry Date        90157 non-null float64
VIN                      0 non-null float64
Make                     99893 non-null object
Body Style               99896 non-null object
Color                    99953 non-null object
Location                 99989 non-null object
Route                    99515 non-null object
Agency                   99994 non-null float64
Violation code           100000 non-null object
Violation Description    99990 non-null object
Fine amount              99934 non-null float64
Latitude                 100000 non-null float64
Longitude                100000 non-null float64
dtypes: float64(8), int64(1), object(10)
memory usage: 14.5+ MB

This method below, .describe(), provides a statistical summary of our numerical columns (ints and floats)

In [101]:
df.describe()

,Ticket number,Issue time,Marked Time,Plate Expiry Date,VIN,Agency,Fine amount,Latitude,Longitude
count,1.000000e+05,99967.000000,2883.000000,90157.000000,0.0,99994.000000,99934.000000,1.000000e+05,1.000000e+05
mean,4.196131e+09,1157.492382,1066.813736,196594.509456,NaN,51.832350,70.335882,5.614210e+06,1.618228e+06
std,6.802781e+08,484.922067,225.816816,32252.264663,NaN,9.734104,32.780404,2.153896e+06,5.935984e+05
min,1.009245e+09,0.000000,1.000000,1.000000,NaN,1.000000,25.000000,9.999900e+04,9.999900e+04
25%,4.346037e+09,850.000000,923.000000,201901.000000,NaN,53.000000,63.000000,6.423665e+06,1.826502e+06
50%,4.346652e+09,1129.000000,1049.000000,201905.000000,NaN,54.000000,68.000000,6.453386e+06,1.842885e+06
75%,4.347111e+09,1424.000000,1205.000000,201908.000000,NaN,55.000000,73.000000,6.474729e+06,1.858854e+06
max,4.348572e+09,2359.000000,2359.000000,209912.000000,NaN,58.000000,363.000000,6.513161e+06,1.941745e+06

Pass the include parameter with datatype(s) of you'd like to get a summary of

In [102]:
df.describe(include=object)

,Issue Date,Meter Id,RP State Plate,Make,Body Style,Color,Location,Route,Violation code,Violation Description
count,99994,23588,100000,99893,99896,99953,99989,99515,100000,99990
unique,85,10267,66,231,35,36,55827,931,138,161
top,2019-01-08T00:00:00,53,CA,TOYT,PA,BK,101 LARCHMONT BL N,600,80.69BS,NO PARK/STREET CLEAN
freq,7930,442,93004,16579,87813,22076,213,9030,28734,29100

In [103]:
df.describe(include='all')

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
count,1.000000e+05,99994,99967.000000,23588,2883.000000,100000,90157.000000,0.0,99893,99896,99953,99989,99515,99994.000000,100000,99990,99934.000000,1.000000e+05,1.000000e+05
unique,NaN,85,NaN,10267,NaN,66,NaN,NaN,231,35,36,55827,931,NaN,138,161,NaN,NaN,NaN
top,NaN,2019-01-08T00:00:00,NaN,53,NaN,CA,NaN,NaN,TOYT,PA,BK,101 LARCHMONT BL N,600,NaN,80.69BS,NO PARK/STREET CLEAN,NaN,NaN,NaN
freq,NaN,7930,NaN,442,NaN,93004,NaN,NaN,16579,87813,22076,213,9030,NaN,28734,29100,NaN,NaN,NaN
mean,4.196131e+09,NaN,1157.492382,NaN,1066.813736,NaN,196594.509456,NaN,NaN,NaN,NaN,NaN,NaN,51.832350,NaN,NaN,70.335882,5.614210e+06,1.618228e+06
std,6.802781e+08,NaN,484.922067,NaN,225.816816,NaN,32252.264663,NaN,NaN,NaN,NaN,NaN,NaN,9.734104,NaN,NaN,32.780404,2.153896e+06,5.935984e+05
min,1.009245e+09,NaN,0.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,25.000000,9.999900e+04,9.999900e+04
25%,4.346037e+09,NaN,850.000000,NaN,923.000000,NaN,201901.000000,NaN,NaN,NaN,NaN,NaN,NaN,53.000000,NaN,NaN,63.000000,6.423665e+06,1.826502e+06
50%,4.346652e+09,NaN,1129.000000,NaN,1049.000000,NaN,201905.000000,NaN,NaN,NaN,NaN,NaN,NaN,54.000000,NaN,NaN,68.000000,6.453386e+06,1.842885e+06
75%,4.347111e+09,NaN,1424.000000,NaN,1205.000000,NaN,201908.000000,NaN,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,73.000000,6.474729e+06,1.858854e+06
max,4.348572e+09,NaN,2359.000000,NaN,2359.000000,NaN,209912.000000,NaN,NaN,NaN,NaN,NaN,NaN,58.000000,NaN,NaN,363.000000,6.513161e+06,1.941745e+06

### Dropping columns from a Dataframe

Lets take a look at the amount of missing data in each column

In [104]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

VIN                      100.000
Marked Time               97.117
Meter Id                  76.412
Plate Expiry Date          9.843
Route                      0.485
Make                       0.107
Body Style                 0.104
Fine amount                0.066
Color                      0.047
Issue time                 0.033
Location                   0.011
Violation Description      0.010
Issue Date                 0.006
Agency                     0.006
Longitude                  0.000
RP State Plate             0.000
Latitude                   0.000
Violation code             0.000
Ticket number              0.000
dtype: float64

We see that columns VIN, Marked Time, and Meter ID all have a high percent of NULL values, so we decide to simply drop these columns. <br> 
Let's say that for this analysis we're also not concerned with the Route or the Agency, nor the Longitude/Latitude so let's drop those as well.

Pass the drop() method a list of the columns we'd like to drop and specify the axis as 1 (for the columns axis). The inplace parameter allows this method to occur **inplace**, or on our current DataFrame.
Think of it as the difference between:
-  x = x  + 1;
-  x++;

In [105]:
columns_to_drop = ["VIN", "Marked Time", "Meter Id", "Route", "Agency", "Longitude", "Latitude"]
df.drop(columns_to_drop, axis = 1, inplace = True)

In [106]:
df.head()

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
0,4346620795,2019-01-04T00:00:00,814.0,CA,201811.0,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
1,4346620806,2019-01-04T00:00:00,816.0,CA,201909.0,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
2,4346620810,2019-01-04T00:00:00,818.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
3,4346620821,2019-01-04T00:00:00,819.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25.0
4,4346620832,2019-01-04T00:00:00,824.0,CA,201905.0,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0

In [107]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

Plate Expiry Date        9.843
Make                     0.107
Body Style               0.104
Fine amount              0.066
Color                    0.047
Issue time               0.033
Location                 0.011
Violation Description    0.010
Issue Date               0.006
Violation code           0.000
RP State Plate           0.000
Ticket number            0.000
dtype: float64

For the sake of demonstration, we can also also drop rows with this method. Specify our axis as 0 for rows, and instead of column names we'll now use indice numbers

In [108]:
# Rows 0, 1, and 2 will be dropped from the DataFrame
# Also, notice we do not perform this method inplace. This way we are not permanently altering our DataFrame

df.drop([0, 1, 2], axis = 0)

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
3,4346620821,2019-01-04T00:00:00,819.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25.0
4,4346620832,2019-01-04T00:00:00,824.0,CA,201905.0,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0
5,4346620843,2019-01-04T00:00:00,829.0,CA,201901.0,KIA,PA,GY,5220 HARMONY AVE,80.69BS,NO PARK/STREET CLEAN,73.0
6,4346620865,2019-01-04T00:00:00,830.0,CA,201901.0,KIA,PA,GY,5220 HARMONY AVE,5200,DISPLAY OF PLATES,25.0
7,4346620876,2019-01-04T00:00:00,836.0,CA,201707.0,FORD,OT,WT,10831 MAGNOLIA BLVD,80.69BS,NO PARK/STREET CLEAN,73.0
8,4346620880,2019-01-04T00:00:00,838.0,CA,201707.0,FORD,OT,WT,10831 MAGNOLIA BLVD,5204A-,DISPLAY OF TABS,25.0
9,4346620891,2019-01-04T00:00:00,842.0,CA,201901.0,NISS,PA,WT,5200 SATSUMA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
10,4346620902,2019-01-04T00:00:00,846.0,CA,201907.0,FORD,PA,BL,10800 WEDDINGTON ST,80.69BS,NO PARK/STREET CLEAN,73.0
11,4346620913,2019-01-04T00:00:00,928.0,CA,201811.0,MERZ,PA,GY,5200 LANKERSHIM BL,88.13B+,METER EXP.,63.0
12,4346620924,2019-01-04T00:00:00,929.0,CA,201811.0,MERZ,PA,GY,5200 LANKERSHIM BL,5204A-,DISPLAY OF TABS,25.0
13,4346620935,2019-01-04T00:00:00,1009.0,GA,201911.0,NISS,PA,BL,5000 MORRISON ST,80.69BS,NO PARK/STREET CLEAN,73.0
14,4346620946,2019-01-04T00:00:00,1013.0,CA,NaN,NISS,PA,GY,11100 HESBY ST,80.69BS,NO PARK/STREET CLEAN,73.0
15,4346620950,2019-01-04T00:00:00,1016.0,MO,201910.0,MERC,PA,WT,11040 HESBY ST,80.69BS,NO PARK/STREET CLEAN,73.0
16,4346620961,2019-01-04T00:00:00,1024.0,CA,NaN,AUDI,PA,GY,11151 BLIX ST,80.69BS,NO PARK/STREET CLEAN,73.0
17,4346620972,2019-01-04T00:00:00,1034.0,CA,NaN,BMW,PA,BK,4635 BELLFLOWER AVE,80.69BS,NO PARK/STREET CLEAN,73.0
18,4346620983,2019-01-04T00:00:00,1049.0,CA,201906.0,TOYT,PA,BL,11179 WEDDINGTON ST,80.69BS,NO PARK/STREET CLEAN,73.0
19,4346620994,2019-01-04T00:00:00,1051.0,CA,NaN,TOYT,PA,WT,11179 WEDDINGTON ST,80.69BS,NO PARK/STREET CLEAN,73.0
20,4346621005,2019-01-04T00:00:00,1052.0,CA,201907.0,HOND,PA,GO,11179 WEDDINGTON ST,80.69BS,NO PARK/STREET CLEAN,73.0
21,4346621016,2019-01-04T00:00:00,1056.0,CA,201910.0,HOND,PA,WT,5200 BLAKESLEE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
22,4346621020,2019-01-04T00:00:00,1059.0,CA,201903.0,CHEV,PA,WT,5255 BLAKESLEE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
23,4346621031,2019-01-04T00:00:00,1126.0,CA,201906.0,DODG,PA,BL,4800 BAKMAN AVE,80.69BS,NO PARK/STREET CLEAN,73.0
24,4346621042,2019-01-04T00:00:00,1129.0,CA,201911.0,JEEP,PA,GY,11336 CAMARILLO ST,80.69BS,NO PARK/STREET CLEAN,73.0
25,4346621053,2019-01-04T00:00:00,1141.0,CA,201803.0,MERZ,PA,RD,5200 BLAKESLEE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
26,4346621064,2019-01-04T00:00:00,1143.0,CA,201902.0,MAZD,PA,GO,5200 BLAKESLEE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
27,4346621075,2019-01-04T00:00:00,1147.0,CA,201910.0,VOLK,PA,GY,11100 WEDDINGTON ST,80.69BS,NO PARK/STREET CLEAN,73.0
28,4346621086,2019-01-04T00:00:00,1254.0,CA,201907.0,HOND,PA,GY,11401 WOODBRIDGE ST,88.13B+,METER EXP.,63.0
29,4346621090,2019-01-04T00:00:00,1408.0,CA,201906.0,FORD,PA,BK,5201 BLAKESLEE AV,88.13B+,METER EXP.,63.0
30,4346622335,2019-01-04T00:00:00,1003.0,CA,201901.0,TOYT,PA,BK,12444 VENTURA BL,88.13B+,METER EXP.,63.0
31,4346622346,2019-01-04T00:00:00,1016.0,CA,201907.0,INFI,PA,BK,12100 VENTURA BL,88.13B+,METER EXP.,63.0
32,4346622350,2019-01-04T00:00:00,1024.0,CA,201809.0,HOND,PA,GY,3901 VANTAGE AV,88.13B+,METER EXP.,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99970,4348314036,2019-01-24T00:00:00,937.0,CA,201902.0,HOND,PA,GY,1352 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99971,4348314040,2019-01-24T00:00:00,943.0,CA,NaN,DODG,PU,BL,1172 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99972,4348314051,2019-01-24T00:00:00,950.0,WA,201812.0,INFI,PA,RD,1000 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99973,4348314062,2019-01-24T00:00:00,956.0,CA,NaN,NISS,PA,WT,1161 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99974,4348314073,2019-01-24T00:00:00,1001.0,CA,201904.0,MERZ,PA,GY,1311 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99975,4348314084,2019-01-24T00:00:00,1007.0,NY,201911.0,JEEP,PA,BK,1301 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99976,4348314095,2019-01-24T00:00:00,1011.0,CA,202001.0,TOYT,PA,BK,4701 DOCKWEILER ST,80.69BS,NO PARK/STREET CLEAN,73.0
99977,4348314106,2019-01-24T00:00:00,1029.0,CA,201906.0,HYUN,PA,GY,4700 OLYMPIC BLVD,22500F,PARKED ON SIDEWALK,68.0
99978,4348314110,2019-01-24T00:00:00,1209.0,CA,201905.0,TOYT,PA,SL,1621 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
99979,4348314121,2019-01-24T00:00:00,1211.0,CA,201905.0,MERZ,PA,WT,1601 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
99980,4348314132,2019-01-24T00:00:00,1215.0,CA,201904.0,LEXS,PA,SL,1847 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
99981,4348314143,2019-01-24T00:00:00,1219.0,TX,201708.0,NISS,PU,GY,1763 BUCKINGHAM ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
99982,4348314154,2019-01-24T00:00:00,1233.0,CA,NaN,FORD,PU,WT,1758 BUCKINGHAM ROAD,22502A,18 IN. CURB/2 WAY,63.0
99983,4348314165,2019-01-24T00:00:00,1239.0,CA,NaN,HOND,PA,BL,1844 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99984,4348314176,2019-01-24T00:00:00,1241.0,CA,NaN,HOND,PA,BL,1844 VICTORIA AVE,5204A-,DISPLAY OF TABS,25.0
99985,4348314180,2019-01-24T00:00:00,1243.0,CA,NaN,VOLK,PA,BL,1853 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99986,4348314191,2019-01-24T00:00:00,1244.0,CA,NaN,VOLK,PA,BL,1853 VICTORIA AVE,5204A-,DISPLAY OF TABS,25.0
99987,4348314202,2019-01-24T00:00:00,1246.0,LA,201909.0,AUDI,PA,WT,1853 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99988,4348314213,2019-01-24T00:00:00,1248.0,CA,201812.0,LINC,PA,WT,1838 VICTORIA AVE,22500F,PARKED ON SIDEWALK,68.0
99989,4348314224,2019-01-24T00:00:00,1256.0,CA,201912.0,NISS,PU,BK,4536 18TH ST W,80.69BS,NO PARK/STREET CLEAN,73.0
99990,4348314235,2019-01-24T00:00:00,1304.0,CA,201910.0,FORD,PU,SL,4557 ST CHARLES PL,22500H,DOUBLE PARKING,68.0
99991,4348314246,2019-01-24T00:00:00,1318.0,CA,201812.0,ACUR,PA,WT,4350 VICTORIA PARK DR,80.69BS,NO PARK/STREET CLEAN,73.0
99992,4348314250,2019-01-24T00:00:00,1325.0,CA,201912.0,TOYT,PA,SL,1513 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99993,4348314261,2019-01-24T00:00:00,1331.0,CA,201909.0,TOYT,PA,WT,1300 WINDSOR BLVD,80.56E4+,RED ZONE,93.0
99994,4348314272,2019-01-24T00:00:00,1337.0,CA,201811.0,LEXS,PA,WT,1200 WINDSOR BL S,88.13B+,METER EXP.,63.0
99995,4348572012,2019-01-24T00:00:00,1257.0,CA,201909.0,FORD,PA,GY,3400 CATALINA ST S,80.69BS,NO PARK/STREET CLEAN,73.0
99996,4348572023,2019-01-24T00:00:00,1302.0,CA,201910.0,CHEV,PA,GY,3400 CATALINA ST S,80.69BS,NO PARK/STREET CLEAN,73.0
99997,4348572034,2019-01-24T00:00:00,1309.0,CA,201904.0,HOND,PA,GY,3440 WALTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99998,4348572045,2019-01-24T00:00:00,1313.0,CA,201902.0,NISS,PA,BK,3609 BUDLONG AVE,80.69BS,NO PARK/STREET CLEAN,73.0
99999,4348572056,2019-01-24T00:00:00,1319.0,CA,201807.0,KIA,PA,GY,1850 29TH ST W,5204A-,DISPLAY OF TABS,25.0

In [109]:
df.head()

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
0,4346620795,2019-01-04T00:00:00,814.0,CA,201811.0,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
1,4346620806,2019-01-04T00:00:00,816.0,CA,201909.0,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
2,4346620810,2019-01-04T00:00:00,818.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
3,4346620821,2019-01-04T00:00:00,819.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25.0
4,4346620832,2019-01-04T00:00:00,824.0,CA,201905.0,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0

### Creating a unique index for your DataFrame

Pandas allows us to slice and access rows of our Dataframe utilizing the unique index numbers. In many cases, it is helpful to use a unique identifying field from the data as its index , rather than having our rows labeled 0 - 999999. In this case,
Ticket Number would function as an excellent Index for us

In [110]:
# Ensuring Ticket Numbers are in fact, unique
df['Ticket number'].is_unique

True

In [111]:
df.set_index('Ticket number', inplace = True)
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4346620795,2019-01-04T00:00:00,814.0,CA,201811.0,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4346620806,2019-01-04T00:00:00,816.0,CA,201909.0,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4346620810,2019-01-04T00:00:00,818.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4346620821,2019-01-04T00:00:00,819.0,CA,201905.0,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25.0
4346620832,2019-01-04T00:00:00,824.0,CA,201905.0,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0

### Indexing your Dataframe

#### pd.DataFrame.loc[ ]  allows us to do label-based indexing

This means accessing records using their unique label (index), without regard to their position in the DataFrame. In our case the unique label is now the ticket number

In [116]:
# This will return the record of ticket number 4346620795 (It happens to be the first row in our DataFrame) 
df.loc[4346620795]

Issue Date                2019-01-04T00:00:00
Issue time                                814
RP State Plate                             CA
Plate Expiry Date                      201811
Make                                     SUBA
Body Style                                 PA
Color                                      BL
Location                  5242 CARTWRIGHT AVE
Violation code                        80.69BS
Violation Description    NO PARK/STREET CLEAN
Fine amount                                73
Name: 4346620795, dtype: object

#### pd.DataFrame.iloc[ ] allows us to do position-based indexing

This means accessing a row based on what row number it is in the DataFrame. To access the first record in the DataFrame (which we also pulled above) do:

In [117]:
df.iloc[0]

Issue Date                2019-01-04T00:00:00
Issue time                                814
RP State Plate                             CA
Plate Expiry Date                      201811
Make                                     SUBA
Body Style                                 PA
Color                                      BL
Location                  5242 CARTWRIGHT AVE
Violation code                        80.69BS
Violation Description    NO PARK/STREET CLEAN
Fine amount                                73
Name: 4346620795, dtype: object

This function also allows for Numpy like slicing of our DataFrame. For example, to retrieve the last 2,000 records of the DataFrame we can do:

In [118]:
df.iloc[(len(df)-2000):]

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4347624525,2019-01-24T00:00:00,2014.0,CA,201912.0,NISS,PA,GY,2980 FRANCIS AVE,22500H,DOUBLE PARKING,68.0
4347624536,2019-01-24T00:00:00,2017.0,CA,202001.0,DODG,PA,GN,2984 FRANCIS AVE,5200,DISPLAY OF PLATES,25.0
4347624540,2019-01-24T00:00:00,2259.0,CA,201812.0,MERZ,PA,BK,1145 MOHAWK ST,80.58L,PREFERENTIAL PARKING,68.0
4347624551,2019-01-24T00:00:00,2301.0,CA,201911.0,FORD,PA,GY,1141 MOHAWK ST,80.58L,PREFERENTIAL PARKING,68.0
4347624562,2019-01-24T00:00:00,2327.0,CA,201901.0,CHEV,PA,BL,981 MADISON AVE N,80.56E4+,RED ZONE,93.0
4347624573,2019-01-24T00:00:00,2329.0,OR,202005.0,CHEV,PA,BL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93.0
4347624584,2019-01-24T00:00:00,2331.0,CA,201805.0,VOLK,PA,BL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93.0
4347624595,2019-01-24T00:00:00,2331.0,CA,201805.0,VOLK,PA,BL,4570 SANTA MONICA BLVD,5204A-,DISPLAY OF TABS,25.0
4347624606,2019-01-24T00:00:00,2332.0,CA,201904.0,TOYT,PA,SL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93.0
4347624610,2019-01-24T00:00:00,2350.0,CA,201811.0,VOLV,PA,BL,1821 SILVER LAKE DR W,80.58L,PREFERENTIAL PARKING,68.0
4347624621,2019-01-24T00:00:00,2352.0,CA,201811.0,VOLV,PA,BL,1821 SILVER LAKE DR W,5204A-,DISPLAY OF TABS,25.0
4347634012,2019-01-24T00:00:00,831.0,CA,201904.0,FORD,PA,SL,1403 ALBANY ST,80.69BS,NO PARK/STREET CLEAN,73.0
4347634023,2019-01-24T00:00:00,833.0,CA,201912.0,TOYT,PA,SL,1423 ALBANY ST,80.69BS,NO PARK/STREET CLEAN,73.0
4347634034,2019-01-24T00:00:00,835.0,CA,201901.0,TOYT,PA,SL,1433 ALBANY ST,80.69BS,NO PARK/STREET CLEAN,73.0
4347634045,2019-01-24T00:00:00,841.0,CA,201903.0,NISS,PA,WT,1031 18TH ST W,22514,FIRE HYDRANT,68.0
4347634056,2019-01-24T00:00:00,843.0,CA,201908.0,VOLK,PA,BK,1031 18TH ST W,22514,FIRE HYDRANT,68.0
4347634060,2019-01-24T00:00:00,859.0,CA,201903.0,HOND,VN,GO,1417 BONNIE BRAE ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4347634071,2019-01-24T00:00:00,901.0,CA,201902.0,TOYT,PA,WT,1443 BONNIE BRAE ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4347634082,2019-01-24T00:00:00,908.0,CA,201905.0,HOND,PA,RD,1345 CONSTANCE ST,80.69BS,NO PARK/STREET CLEAN,73.0
4347634093,2019-01-24T00:00:00,919.0,CA,201903.0,FORD,PA,GO,1450 OAK ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4347634104,2019-01-24T00:00:00,937.0,CA,201907.0,HYUN,PA,BG,420 BAXTER ST,8.06E+03,YELLOW ZONE,58.0
4347634115,2019-01-24T00:00:00,1012.0,CA,201805.0,MERZ,PA,SL,202 PATTON AVE N,5204A-,DISPLAY OF TABS,25.0
4347634130,2019-01-24T00:00:00,1027.0,CA,201808.0,VOLK,PA,GY,1071 LAGUNA AVE,5204A-,DISPLAY OF TABS,25.0
4347634141,2019-01-24T00:00:00,1031.0,CA,201810.0,MERZ,PA,BK,1071 LAGUNA AVE,5204A-,DISPLAY OF TABS,25.0
4347634152,2019-01-24T00:00:00,1207.0,CA,201803.0,DODG,VN,GY,640 ST PAUL AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4347634163,2019-01-24T00:00:00,1212.0,CA,201909.0,GMC,PA,BK,616 ST PAUL AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4347634174,2019-01-24T00:00:00,1215.0,CA,201904.0,KIA,PA,GY,616 ST PAUL AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4347634185,2019-01-24T00:00:00,1222.0,CA,201907.0,TOYT,PA,SL,601 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4347634196,2019-01-24T00:00:00,1223.0,CA,201906.0,CHEV,PA,WT,601 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4347634211,2019-01-24T00:00:00,1227.0,CA,201908.0,TOYT,VN,BL,605 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73.0
...,...,...,...,...,...,...,...,...,...,...,...
4348314036,2019-01-24T00:00:00,937.0,CA,201902.0,HOND,PA,GY,1352 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314040,2019-01-24T00:00:00,943.0,CA,NaN,DODG,PU,BL,1172 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314051,2019-01-24T00:00:00,950.0,WA,201812.0,INFI,PA,RD,1000 LONGWOOD AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314062,2019-01-24T00:00:00,956.0,CA,NaN,NISS,PA,WT,1161 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314073,2019-01-24T00:00:00,1001.0,CA,201904.0,MERZ,PA,GY,1311 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314084,2019-01-24T00:00:00,1007.0,NY,201911.0,JEEP,PA,BK,1301 TREMAINE AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314095,2019-01-24T00:00:00,1011.0,CA,202001.0,TOYT,PA,BK,4701 DOCKWEILER ST,80.69BS,NO PARK/STREET CLEAN,73.0
4348314106,2019-01-24T00:00:00,1029.0,CA,201906.0,HYUN,PA,GY,4700 OLYMPIC BLVD,22500F,PARKED ON SIDEWALK,68.0
4348314110,2019-01-24T00:00:00,1209.0,CA,201905.0,TOYT,PA,SL,1621 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
4348314121,2019-01-24T00:00:00,1211.0,CA,201905.0,MERZ,PA,WT,1601 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
4348314132,2019-01-24T00:00:00,1215.0,CA,201904.0,LEXS,PA,SL,1847 WELLINGTON ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
4348314143,2019-01-24T00:00:00,1219.0,TX,201708.0,NISS,PU,GY,1763 BUCKINGHAM ROAD,80.69BS,NO PARK/STREET CLEAN,73.0
4348314154,2019-01-24T00:00:00,1233.0,CA,NaN,FORD,PU,WT,1758 BUCKINGHAM ROAD,22502A,18 IN. CURB/2 WAY,63.0
4348314165,2019-01-24T00:00:00,1239.0,CA,NaN,HOND,PA,BL,1844 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314176,2019-01-24T00:00:00,1241.0,CA,NaN,HOND,PA,BL,1844 VICTORIA AVE,5204A-,DISPLAY OF TABS,25.0
4348314180,2019-01-24T00:00:00,1243.0,CA,NaN,VOLK,PA,BL,1853 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314191,2019-01-24T00:00:00,1244.0,CA,NaN,VOLK,PA,BL,1853 VICTORIA AVE,5204A-,DISPLAY OF TABS,25.0
4348314202,2019-01-24T00:00:00,1246.0,LA,201909.0,AUDI,PA,WT,1853 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314213,2019-01-24T00:00:00,1248.0,CA,201812.0,LINC,PA,WT,1838 VICTORIA AVE,22500F,PARKED ON SIDEWALK,68.0
4348314224,2019-01-24T00:00:00,1256.0,CA,201912.0,NISS,PU,BK,4536 18TH ST W,80.69BS,NO PARK/STREET CLEAN,73.0
4348314235,2019-01-24T00:00:00,1304.0,CA,201910.0,FORD,PU,SL,4557 ST CHARLES PL,22500H,DOUBLE PARKING,68.0
4348314246,2019-01-24T00:00:00,1318.0,CA,201812.0,ACUR,PA,WT,4350 VICTORIA PARK DR,80.69BS,NO PARK/STREET CLEAN,73.0
4348314250,2019-01-24T00:00:00,1325.0,CA,201912.0,TOYT,PA,SL,1513 VICTORIA AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348314261,2019-01-24T00:00:00,1331.0,CA,201909.0,TOYT,PA,WT,1300 WINDSOR BLVD,80.56E4+,RED ZONE,93.0
4348314272,2019-01-24T00:00:00,1337.0,CA,201811.0,LEXS,PA,WT,1200 WINDSOR BL S,88.13B+,METER EXP.,63.0
4348572012,2019-01-24T00:00:00,1257.0,CA,201909.0,FORD,PA,GY,3400 CATALINA ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4348572023,2019-01-24T00:00:00,1302.0,CA,201910.0,CHEV,PA,GY,3400 CATALINA ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4348572034,2019-01-24T00:00:00,1309.0,CA,201904.0,HOND,PA,GY,3440 WALTON AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348572045,2019-01-24T00:00:00,1313.0,CA,201902.0,NISS,PA,BK,3609 BUDLONG AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4348572056,2019-01-24T00:00:00,1319.0,CA,201807.0,KIA,PA,GY,1850 29TH ST W,5204A-,DISPLAY OF TABS,25.0

### Dealing with NaN or Inaccurate values

In [119]:
percent_missing

Plate Expiry Date        9.843
Make                     0.107
Body Style               0.104
Fine amount              0.066
Color                    0.047
Issue time               0.033
Location                 0.011
Violation Description    0.010
Issue Date               0.006
Violation code           0.000
RP State Plate           0.000
Ticket number            0.000
dtype: float64

In [120]:
df.dtypes

Issue Date                object
Issue time               float64
RP State Plate            object
Plate Expiry Date        float64
Make                      object
Body Style                object
Color                     object
Location                  object
Violation code            object
Violation Description     object
Fine amount              float64
dtype: object

We'll go ahead and fill the numeric columns which contain NULL values with 0, these are Issue Time, Fine Amount, and Plate Expiration Date. We'll then convert these columns to integers after noticing their values are all whole numbers

In [121]:
df['Issue time'].fillna(value=0.0, inplace=True)
df['Issue time'] = df['Issue time'].astype(int)

df['Fine amount'].fillna(value=0.0, inplace=True)
df['Fine amount'] = df['Fine amount'].astype(int)

df['Plate Expiry Date'].fillna(value=0.0, inplace=True)
df['Plate Expiry Date'] = df['Plate Expiry Date'].astype(int)

df.dtypes

Issue Date               object
Issue time                int64
RP State Plate           object
Plate Expiry Date         int64
Make                     object
Body Style               object
Color                    object
Location                 object
Violation code           object
Violation Description    object
Fine amount               int64
dtype: object

In [122]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

Make                     0.107
Body Style               0.104
Color                    0.047
Location                 0.011
Violation Description    0.010
Issue Date               0.006
Fine amount              0.000
Violation code           0.000
Plate Expiry Date        0.000
RP State Plate           0.000
Issue time               0.000
dtype: float64

Okay, now we're getting there. Let's recap: We started by dropping all the columns that we either weren't interested in, or simply had too many missing values to be useful. We then created a unique index for the data, Ticket Number, and filled in missing values in our numeric columns with an arbitrary value. Let's take a look at the dataset again to decide if any further manipulation is necessary...

### Cleaning up our Columns

In [123]:
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4346620795,2019-01-04T00:00:00,814,CA,201811,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620806,2019-01-04T00:00:00,816,CA,201909,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620810,2019-01-04T00:00:00,818,CA,201905,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620821,2019-01-04T00:00:00,819,CA,201905,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25
4346620832,2019-01-04T00:00:00,824,CA,201905,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73

The first thing I notice is that Plate Expiration Date is in integer form. We'd like to turn this column into a date-time type with a proper year-month format. Let's look at the unique values...

In [124]:
unique_dates = pd.Series(np.sort(df['Plate Expiry Date'].unique()))
unique_dates[:15].append(unique_dates[len(unique_dates)-10:])

0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13     200102
14     200103
226    207401
227    208410
228    209004
229    209011
230    209102
231    209105
232    209512
233    209609
234    209907
235    209912
dtype: int64

We have a couple things to deal with here. The first thing to tackle are the outliers... The expiration dates seem to range from year 2000 to 2099, therefore the integers 1 through 12 don't mean much. (0 came from our NULL values). I'm going to treat these outliers as missing dates and simply replace them with 0

#### To do this let's utilize Numpy.where

&emsp;&emsp;&emsp;np.where(condition, then, else)
<br>
<br>
This will loop through each row of the column we pass to it and check whether the condition is true. If True, apply the 'then' value, if not, apply the else value

In [125]:
df['Plate Expiry Date'] = np.where(df['Plate Expiry Date'] <= 12, 0, df['Plate Expiry Date'])

In [126]:
unique_dates = pd.Series(np.sort(df['Plate Expiry Date'].unique()))
unique_dates.iloc[:10]

0         0
1    200102
2    200103
3    200104
4    200105
5    200108
6    200109
7    200112
8    200118
9    200119
dtype: int64

Awesome, we've replaced all of those outliers with 0. Now let's take a look at how to convert these integers to a date format

&emsp; We'll utilize **pd.to_datetime()** <br><br>
This method will parse through the column we pass to it and convert it to a Pandas **Datetime** format <br>
-   Datetime format is commonly used when dealing with Dates as it provides a great deal of functionality and makes these columns much easier to deal with
-  The parameter **Errors** communicates how to deal with elements that can't be interpreted as a date, **Coerce** says just make these NULL
-  We also pass the format of the column we'll be parsing, in this case the Plate Exp Date ints are in year-month format: **%Y%m**

In [127]:
df['Plate Expiry Date'] = pd.to_datetime(df['Plate Expiry Date'], errors='coerce', format='%Y%m')
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4346620795,2019-01-04T00:00:00,814,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620806,2019-01-04T00:00:00,816,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620810,2019-01-04T00:00:00,818,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620821,2019-01-04T00:00:00,819,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25
4346620832,2019-01-04T00:00:00,824,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73

The last column which needs a bit of cleaning is the **Issue Date** column. We'd like to chop off the end of each string in the column since it seems every entry has 'T00:00:00' tacked on. Let's take a look at how we can do this...

Pandas provides a number of nifty and easy to use vectorized string operations in the way of **pd.Series.str**, some examples are:
-  pd.Series.str.split()
-  pd.Series.str.replace()
-  pd.Series.str.contains() <br>
<br> And the one which we'll utilize...
-  **pd.Series.str.extract()**
<br> This will allow us to extract the part of each string in the column that matches the Regular Expression we pass to it 
<br> The Regular Expression **\d{4}-\d{2}-\d{2}** will search for the pattern: Any 4 digits - Any 2 digits - Any 2 digits
<br>
<br> *If you're not familiar with RegEx don't worry too much as it's not the purpose of today's lecture*
<br> &emsp; *If you'd like to read more on RegEx visit: https://regexr.com/.*

In [128]:
df['Issue Date'] = df['Issue Date'].str.extract(r'^(\d{4}-\d{2}-\d{2})', expand = False)
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4346620795,2019-01-04,814,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620806,2019-01-04,816,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620810,2019-01-04,818,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620821,2019-01-04,819,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25
4346620832,2019-01-04,824,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73

Okay, so we've extracted the date portion of **Issue Date**. As you can see below, this column is still an object, or essentially a string. Similar to Plate Expiration Date, we'd like to convert this to Datetime format so we can make use of Pandas' Datetime functionality later down the road.

In [129]:
df.dtypes

Issue Date                       object
Issue time                        int64
RP State Plate                   object
Plate Expiry Date        datetime64[ns]
Make                             object
Body Style                       object
Color                            object
Location                         object
Violation code                   object
Violation Description            object
Fine amount                       int64
dtype: object

Note how this time the format to be parsed is a bit different. In this case, Issue Date is already in date format **%Y-%m-%d**, we just want to convert it to the datetime datetype

In [130]:
df['Issue Date'] = pd.to_datetime(df['Issue Date'], errors='coerce', format='%Y-%m-%d')
df.dtypes

Issue Date               datetime64[ns]
Issue time                        int64
RP State Plate                   object
Plate Expiry Date        datetime64[ns]
Make                             object
Body Style                       object
Color                            object
Location                         object
Violation code                   object
Violation Description            object
Fine amount                       int64
dtype: object

In [131]:
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4346620795,2019-01-04,814,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620806,2019-01-04,816,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620810,2019-01-04,818,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73
4346620821,2019-01-04,819,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25
4346620832,2019-01-04,824,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73

We're lookin good!

#### If we've got time we can cover these extra topics

### Calculated Columns

A big part of Machine Learning and Data Science is about brainstorming and creating new features to extract more information from the data than what is present at first glance. In this case we might question whether there is a correlation between number of tickets issued and the current season... Lets create a new feature, or column, in this dataset for Season of Issue Date

Creating a new column is as simple as 
-  df['New Column Name'] = Equation or Conditional used to set values in new column
<br><br> Here we'll use a fancy calculation against the month of Issue Date to determine the season (from 1 - 4) based off the month
<br> **Series.dt** provides a number of datetime functions if the column is in datetime format
-  Specifically, Series.dt.month returns the month of the datetime as a float E.G: January = 1.0

In [132]:
#    Month      Season
# 12 | 1 | 2 = 'Winter' or 1
# 3 | 4 | 5 = 'Spring' or 2
# 6 | 7 | 8 = 'Summer' or 3
# 9 | 10 | 11 = 'Fall' or 4

df['Issue Season'] = ((df['Issue Date'].dt.month % 12 + 3) // 3).fillna(0.0).astype(int)
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
4346620795,2019-01-04,814,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620806,2019-01-04,816,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620810,2019-01-04,818,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620821,2019-01-04,819,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25,1
4346620832,2019-01-04,824,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73,1

In [137]:
df['Issue Date'].dt.month.unique()

array([ 1., 12.,  9., 10., 11.,  2., nan,  5.,  3.])

In [139]:
df['Issue Season'].unique()

array([1, 4, 0, 2])

### Sorting and filtering a Dataframe

#### Now, as an example, we could filter on just tickets issued in the Winter, and then let's sort the data by Issue Date

In [140]:
df.shape

(100000, 12)

Filtering can be done by passing the conditional we want to filter on into the original DataFrame<br><br>Here, the inner conditional results in a boolean array of length 100000. It's true when Season is 1, and False otherwise <br> We pass this boolean array to our original DataFrame and this filters our data on just rows where our inner condition was found to be True

In [141]:
df_winter = df[df['Issue Season'] == 1]
df_winter.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
4346620795,2019-01-04,814,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620806,2019-01-04,816,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620810,2019-01-04,818,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,80.69BS,NO PARK/STREET CLEAN,73,1
4346620821,2019-01-04,819,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE,5200,DISPLAY OF PLATES,25,1
4346620832,2019-01-04,824,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE,80.69BS,NO PARK/STREET CLEAN,73,1

In [142]:
df_winter.shape

(99973, 12)

And, as expected, this new DataFrame is a subset of our orginal DataFrame

Sometimes you may need to filter a dataset based on if a column contains a number of different values, and don't want to create a long OR statement... <br> In this case you could filter your DataFrame based off a list, like so:

In [147]:
seasons = [0, 2, 3, 4]

As you may have guessed, we're going to attempt to filter our data on tickets issued in every season OTHER than summer. <br>
The technique we use is the same, but the conditional will look a bit different. Lets take a look...

In [148]:
df_not_winter = df[df['Issue Season'].isin(seasons)]

In [149]:
print('Seasons: ' + str(df_not_winter['Issue Season'].unique()) + '    Shape: ' + str(df_not_winter.shape))
print('Seasons: ' + str(df_winter['Issue Season'].unique()) + '        Shape: ' + str(df_winter.shape))

Seasons: [4 0 2]    Shape: (27, 12)
Seasons: [1]        Shape: (99973, 12)

As you can see, this new DataFrame contains all the seasons except Winter, and is the complentary set to the previous DataFrame we made

#### The last thing I wanted to cover is how we can Sort a DataFrame

We'll utlize **pd.DataFrame.sort_values()**
<br><br>Which allows us to sort the rows of a dataset by column value. In this case let's sort all summer tickets by their Issue Date, and then by their Issue Time

In [150]:
df_summer.sort_values (by = ["Issue Date", "Issue time"], axis = 0, ascending = True)

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
1120588372,2010-01-09,750,CA,NaT,NISS,PA,BK,8113 CEDROS,5204A,EXPIRED TAGS,25,1
1126565090,2011-01-12,1118,CA,2018-06-01,HOND,TR,WH,509 W 82ND ST,5204A,EXPIRED TAGS,25,1
1115653582,2013-01-03,939,CA,NaT,FORD,PA,BG,1100 VICTORIAS ADJ,8069BS,NO PARK/STREET CLEAN,73,1
1126565171,2013-01-12,1404,CA,2019-11-01,CHEV,TR,BK,3000 W 67TH ST,11,22500F,68,1
1126639102,2017-01-14,1100,CA,2019-04-01,BUIC,PA,GY,260 S AV 50,8069B,NO PARKING,73,1
1126639135,2017-01-14,1319,OR,2019-10-01,HOND,PA,GY,1252 N AV 51,8813B,METER EXPIRED,63,1
1121321515,2017-12-28,1900,CA,2018-11-01,CADI,PA,SI,58TH E/O HOOVER,5204A,EXPIRED TAGS,25,1
1120628611,2018-01-01,850,CA,2018-07-01,TOYO,PA,SI,BUNKER HILL/ALPINE,4000A1,NO EVIDENCE OF REG,50,1
1120626791,2018-01-01,1130,CA,2018-03-01,BUIC,PA,WH,HOPE/N OF VENICE,4000A1,NO EVIDENCE OF REG,50,1
1120999681,2018-01-01,1145,CA,2017-06-01,PORS,PA,WH,1100 S HOPE ST,4000A1,NO EVIDENCE OF REG,50,1
1116198764,2018-01-01,1515,CA,2018-12-01,GMC,VN,WH,8401 WINNETKA,4000A1,NO EVIDENCE OF REG,50,1
1116198775,2018-01-01,1520,CA,2018-07-01,MITS,SU,BK,8701 WINNETKA,4000A1,NO EVIDENCE OF REG,50,1
1120768460,2018-01-02,1650,CA,2019-10-01,CHRY,PA,GY,114TH ST/GORMAN,8.06E+07,RED ZONE,93,1
1115957393,2018-01-03,257,CA,2018-10-01,LNDR,PA,WH,619 OCAMPO DRIVE,4000A1,NO EVIDENCE OF REG,50,1
1114743512,2018-01-03,630,CA,2019-09-01,FRHT,TR,WH,2120 8TH ST,8069A,NO STOPPING/STANDING,93,1
1121155862,2018-01-03,825,CA,2018-07-01,DODG,VN,WH,FEDERICK/LAKE,4000A1,NO EVIDENCE OF REG,50,1
1121359886,2018-01-03,1435,CA,2019-04-01,TOYO,VN,SI,5100 S LONG BEACH,8058L,PREF PARKING,68,1
1121321526,2018-01-03,1845,CA,2018-03-01,TOYO,PA,SI,62ND ST E/O FIGUEROA,4000A1,NO EVIDENCE OF REG,50,1
1120940041,2018-01-04,145,CA,2019-03-01,HOND,PA,BK,STEPHEN M WHITE DR,8069B,NO PARKING,73,1
1120714206,2018-01-04,733,CA,2018-05-01,AUDI,NaN,SI,522 W 127TH,13,22500H,68,1
1110146715,2018-01-04,745,CA,2019-07-01,MERZ,PA,BK,525 W 127TH ST,11,22500F,68,1
1114762121,2018-01-04,1035,CA,2018-06-01,TOYO,PA,BK,PETIT PARK 16730 CHA,4000A1,NO EVIDENCE OF REG,50,1
1114762132,2018-01-04,1115,CA,2018-06-01,KIA,PA,GO,16730 CHATSWORTH,4000A1,NO EVIDENCE OF REG,50,1
1114721182,2018-01-04,1227,CA,2018-07-01,HOND,PA,GR,19500 PLUMMER ST,4000A1,NO EVIDENCE OF REG,50,1
1115898556,2018-01-04,1500,CA,2018-11-01,TOYO,PA,WH,HOOVER ST/106TH ST,4000A1,NO EVIDENCE OF REG,50,1
1107844231,2018-01-05,1100,CA,2018-08-01,TOYO,PA,GY,CAMDEN/OHIO,4000A1,NO EVIDENCE OF REG,50,1
1120620686,2018-01-06,240,CA,2018-04-01,OLDS,PA,BR,BALERO N/O BLOOM,4000A1,NO EVIDENCE OF REG,50,1
1126565355,2018-01-07,859,CA,NaT,BENZ,PA,GY,6735 SO CRENSHAW BL,8069A,NO STOPPING/STANDING,93,1
1120819044,2018-01-09,430,CA,2018-12-01,CHRY,PA,WH,LANKERSHIM/CHANDLER,4000A1,NO EVIDENCE OF REG,50,1
1120819055,2018-01-09,445,CA,2018-12-01,LINC,PA,BK,FAIR/CUMPSTON,4000A1,NO EVIDENCE OF REG,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4346139490,2019-01-24,2329,CA,2019-12-01,LEXS,PA,SL,1800 VINE ST N,80.69B,NO PARKING,73,1
4347624573,2019-01-24,2329,OR,2020-05-01,CHEV,PA,BL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347806643,2019-01-24,2329,CA,2019-05-01,CHEV,PA,BK,1641 N IVAR AVE,80.69B,NO PARKING,73,1
4346139501,2019-01-24,2330,CA,2019-12-01,CHEV,PA,SL,1800 VINE ST N,80.69B,NO PARKING,73,1
4346955060,2019-01-24,2330,CA,2019-07-01,FORD,PA,SL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347806654,2019-01-24,2330,MI,2018-12-01,KIA,PA,BK,1641 N IVAR AVE,80.69B,NO PARKING,73,1
4346955071,2019-01-24,2331,CA,2019-08-01,TOYT,PA,WT,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4346955082,2019-01-24,2331,WA,2018-06-01,HYUN,PA,SL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347624584,2019-01-24,2331,CA,2018-05-01,VOLK,PA,BL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347624595,2019-01-24,2331,CA,2018-05-01,VOLK,PA,BL,4570 SANTA MONICA BLVD,5204A-,DISPLAY OF TABS,25,1
4347806665,2019-01-24,2331,GA,2019-04-01,FORD,PA,GY,1641 N IVAR AVE,80.69B,NO PARKING,73,1
4346645461,2019-01-24,2332,CA,2019-10-01,TOYT,PA,WT,731 80TH ST W,80.56E4+,RED ZONE,93,1
4346955093,2019-01-24,2332,CA,2019-03-01,TOYT,PA,GY,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347624606,2019-01-24,2332,CA,2019-04-01,TOYT,PA,SL,4570 SANTA MONICA BLVD,80.69AA+,NO STOP/STAND,93,1
4347806676,2019-01-24,2332,CA,2019-12-01,MITS,PA,TN,1641 N IVAR AVE,80.69B,NO PARKING,73,1
4346645472,2019-01-24,2334,CA,2019-06-01,LINC,PA,BK,731 80TH ST W,80.56E4+,RED ZONE,93,1
4346955104,2019-01-24,2347,CA,2019-10-01,JEEP,PA,RD,1810 WEST SILVER LAKE DR,80.58L,PREFERENTIAL PARKING,68,1
4347355530,2019-01-24,2347,CA,2019-10-01,NISS,PA,WT,810 FEDORA ST,80.69B,NO PARKING,73,1
4347966011,2019-01-24,2347,CA,2019-03-01,HOND,PA,WT,3838 8TH ST W,80.56E4+,RED ZONE,93,1
4347355541,2019-01-24,2348,CA,2019-10-01,TOYT,PA,WT,810 FEDORA ST,80.69B,NO PARKING,73,1
4347355552,2019-01-24,2349,CA,2019-09-01,AUDI,PA,GY,810 FEDORA ST,80.69B,NO PARKING,73,1
4347624610,2019-01-24,2350,CA,2018-11-01,VOLV,PA,BL,1821 SILVER LAKE DR W,80.58L,PREFERENTIAL PARKING,68,1
4347830093,2019-01-24,2351,NC,2020-01-01,FORD,PA,WT,4500 OAKWOOD AVE,80.56E4+,RED ZONE,93,1
4347355563,2019-01-24,2352,CA,2019-07-01,HOND,PA,BK,732 NORMANDIE AVE,80.56E4+,RED ZONE,93,1
4347624621,2019-01-24,2352,CA,2018-11-01,VOLV,PA,BL,1821 SILVER LAKE DR W,5204A-,DISPLAY OF TABS,25,1
4347355574,2019-01-24,2353,CA,2019-04-01,CHEV,PA,WT,732 NORMANDIE AVE,80.56E4+,RED ZONE,93,1
4346955115,2019-01-24,2355,CA,2018-10-01,AUDI,PA,GY,1757 WEST SILVER LAKE DR,5204A-,DISPLAY OF TABS,25,1
4346955126,2019-01-24,2356,CA,2019-11-01,JEEP,PA,BK,1754 WEST SILVER LAKE DR,5200,DISPLAY OF PLATES,25,1
4347966022,2019-01-24,2357,NJ,NaT,MERZ,PA,WT,3837 8TH ST W,80.56E4+,RED ZONE,93,1
4346955130,2019-01-24,2359,CA,2018-05-01,VOLV,PA,WT,1749 WEST SILVER LAKE DR,5204A-,DISPLAY OF TABS,25,1

For sake of demonstration, we can also rearrange the columns of a DataFrame as well like so:

In [151]:
# get the list of all columns
columns = list(df.columns)
columns

['Issue Date',
 'Issue time',
 'RP State Plate',
 'Plate Expiry Date',
 'Make',
 'Body Style',
 'Color',
 'Location',
 'Violation code',
 'Violation Description',
 'Fine amount',
 'Issue Season']

In [152]:
#rearrange the list of columns in the order we'd like 
columns = ['Issue Date',
 'Issue time',
 'Issue Season',
 'Fine amount',
 'Violation code',
 'Violation Description',
 'RP State Plate',
 'Plate Expiry Date',
 'Make',
 'Body Style',
 'Color',
 'Location',]

In [153]:
#Finally pass the list of new columns to our original DataFrame
df = df[columns]

In [154]:
df.head()

,Issue Date,Issue time,Issue Season,Fine amount,Violation code,Violation Description,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location
Ticket number,,,,,,,,,,,,
4346620795,2019-01-04,814,1,73,80.69BS,NO PARK/STREET CLEAN,CA,2018-11-01,SUBA,PA,BL,5242 CARTWRIGHT AVE
4346620806,2019-01-04,816,1,73,80.69BS,NO PARK/STREET CLEAN,CA,2019-09-01,NISS,PA,WT,5334 CARTWRIGHT AVE
4346620810,2019-01-04,818,1,73,80.69BS,NO PARK/STREET CLEAN,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE
4346620821,2019-01-04,819,1,25,5200,DISPLAY OF PLATES,CA,2019-05-01,LEXS,PA,BK,5338 CARTWRIGHT AVE
4346620832,2019-01-04,824,1,73,80.69BS,NO PARK/STREET CLEAN,CA,2019-05-01,CHEV,PA,GY,5330 RIVERTON AVE

## ALL DONE ! <BR>
### Thanks to everyone for coming out tonight, please remember to sign out!