<img src="https://ucfai.org//course/sp19/data-curation/banner.jpg">

<div class="col-12">
    <a class="btn btn-success btn-block" href="https://ucfai.org/signup">
        First Attendance? Sign Up!
    </a>
</div>

<div class="col-12">
    <h1> Cleaning and Manipulating a Dataset with Python </h1>
    <hr>
</div>

<div style="line-height: 2em;">
    <p>by: 
        <strong> Daniel Silva</strong>
        (<a href="https://github.com/danielzgsilva">@danielzgsilva</a>) <br> &emsp;&nbsp;
        <strong> John Muchovej</strong>
        (<a href="https://github.com/ionlights">@ionlights</a>)
   <br>&emsp;&nbsp;  on 2019-03-20</p>
</div>

## Today's lecture will cover how to load, clean, and manipulate a dataset using Python
###  In order to do this we'll be utilizing a Python library named Pandas.

####  Pandas is an open sourced library which provides high-performance, easy-to-use data structures and data analysis tools in Python. It is arguably the most preferred and widely used tool in the DS/AI industry for data munging and wrangling.

**If you do not yet have Python and Pandas installed on your machine I recommend using a package such as the <a href="https://www.anaconda.com/" target="_blank">Anaconda Distribution</a>. 
This can be installed for Windows, Linux, or Mac and will quickly install Python, Jupyter Notebook, and the most popular Data Science libraries onto your machine.

### Importing the Pandas and Numpy libraries

In order to use any Python library we need to first import the library. This is done with the code below

In [2]:
# 'pd' will serve as the alias for Pandas when calling functions
import pandas as pd
import numpy as np

Pandas is actually built on top of Numpy, a scientific computing library, and happens to work hand in hand with Pandas. We'll import this library as well.

#### Loading in a Dataset with Python

At this point you might be asking thinking, "Well this is cool and all, but where the heck can I get a dataset in the first place??"

Fear not! There are a number of online repositories which supply both messy and clean datasets for almost any Data Science project you could imagine. Here are some of my favorites:
-  <a href="https://www.kaggle.com/" target="_blank">Kaggle</a>: A popular site within the Data Science community which hosts Machine Learning competitions. It contains a tremendous amount of datasets, all of which you can download.
    - As a note, you can open up a kernel under any competition or dataset and the data will already be loaded into the notebook, no need to download to your machine!
-  <a href="https://cloud.google.com/bigquery/public-data/" target="_blank">Google Public Datasets</a>
-  <a href="https://aws.amazon.com/start-now/?sc_channel=BA&sc_campaign=elevator&sc_publisher=captivate" target="_blank">Amazon Web Services Public Datasets</a>
-  <a href="http://mlr.cs.umass.edu/ml/UC" target="_blank">Irvine Machine Learning Repository</a>

**When you want to use Pandas to manipulate or analyze data, youâ€™ll usually get your data in one of three different ways:**

-  Convert a Pythonlist, dictionary or Numpy array to a Pandas data frame
-  Open a local file using Pandas, usually a CSV file, but could also be a tab delimited text file (like TSV), Excel, etc
-  Open a remote file through a URL or read from a database such as SQL

In our case we will be loading our data set from a CSV (comma separated values file) which I downloaded from Kaggle

In [87]:
# Note that file directories in Jupyter Notebook begin from the folder which holds your IPython notebook file. 
# This csv file is saved in the same folder as my notebook. If it was in another folder we'd need to further define the path
df = pd.read_csv('LA_Parking_Citations.csv', low_memory=False)

Other methods exist such as:
-  **pd.read_feather** and	**pd.to_feather**     
Read into these to explore a lightweight and fast option to store and read DataFrames in/from memory
-  **pd.read_sql**
-  You may also pass the parameter **sep = ' '** to read text files using varying delimiters
   Eg. sep = '\t' for tab delimited files

### Pandas Components

Pandas has two core components:
-  **Series**: This is essentially a numpy.array, but for the most part these will be the columns within our Dataframes
-  **DataFrames**: These are the bread and butter of pandas. They're equivalent to a table or an excel spreadsheet (made up of columns and rows)

### Inpsecting and Analyzing a Dataframe

pandas.DataFrame.head() by default shows the first 5 rows of a Dataframe. An integer can be passed to load different numbers of rows

#### This dataset is a file of all tickets issued in the City of Los Angeles

In [3]:
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [4]:
df.head(10)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
5,1106226590,2015-09-15T00:00:00,19.0,NaN,NaN,CA,201507.0,NaN,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
6,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
7,1106500463,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201602.0,NaN,TOYO,PA,BK,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
8,1106506402,2015-12-22T00:00:00,945.0,NaN,NaN,CA,201605.0,NaN,CHEV,PA,BR,721 S WESTLAKE,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
9,1106506413,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201701.0,NaN,NISS,PA,SI,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0

pd.DataFrame.shape can quickly tell you the dimensions of your DataFrame

In [5]:
df.shape

(1000000, 19)

The next two DataFrame methods can be used to tell us which datatypes our DataFrame consists of, as well as how many NULL values are found in each column

In [6]:
df.get_dtype_counts()

float64     8
object     11
dtype: int64

Notice below that our Meter Id, Marked Time, and VIN columns have a significant number of NULL values. We'll deal with these in a bit...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
Ticket number            1000000 non-null object
Issue Date               999983 non-null object
Issue time               999728 non-null float64
Meter Id                 265135 non-null object
Marked Time              37964 non-null float64
RP State Plate           999961 non-null object
Plate Expiry Date        911223 non-null float64
VIN                      0 non-null float64
Make                     999061 non-null object
Body Style               998941 non-null object
Color                    999493 non-null object
Location                 999943 non-null object
Route                    992477 non-null object
Agency                   999982 non-null float64
Violation code           1000000 non-null object
Violation Description    999896 non-null object
Fine amount              998972 non-null float64
Latitude                 1000000 non-null float64
Longitude                1000000 non-null float64
dtypes: float64(8), object(11)
memory usage: 145.0+ MB

This method below, .describe(), provides a statistical summary of our numerical columns (ints and floats)

In [8]:
df.describe()

,Issue time,Marked Time,Plate Expiry Date,VIN,Agency,Fine amount,Latitude,Longitude
count,999728.000000,37964.000000,911223.000000,0.0,999982.000000,998972.000000,1.000000e+06,1.000000e+06
mean,1226.441421,1078.952639,184553.136199,NaN,51.969426,70.005072,4.837113e+06,1.403845e+06
std,465.757403,220.162047,56106.120646,NaN,9.452227,31.910066,2.768613e+06,7.623581e+05
min,0.000000,2.000000,1.000000,NaN,1.000000,10.000000,9.999900e+04,9.999900e+04
25%,926.000000,930.000000,201603.000000,NaN,51.000000,63.000000,9.999900e+04,9.999900e+04
50%,1207.000000,1055.000000,201607.000000,NaN,54.000000,68.000000,6.442368e+06,1.839655e+06
75%,1534.000000,1215.000000,201611.000000,NaN,55.000000,73.000000,6.472574e+06,1.854146e+06
max,2359.000000,2355.000000,209912.000000,NaN,97.000000,505.000000,6.513806e+06,1.941732e+06

Pass the include parameter with datatype(s) of you'd like to get a summary of

In [9]:
df.describe(include=object)

,Ticket number,Issue Date,Meter Id,RP State Plate,Make,Body Style,Color,Location,Route,Violation code,Violation Description
count,1000000,999983,265135,999961,999061,998941,999493,999943,992477,1000000,999896
unique,1000000,353,29169,75,528,63,48,370969,2909,210,312
top,4282287726,2016-01-19T00:00:00,37,CA,TOYT,PA,BK,1301 ELECTRIC AVE,00600,80.69BS,NO PARK/STREET CLEAN
freq,1,9829,5116,933843,163382,876995,213732,1150,54557,275192,289022

In [10]:
df.describe(include='all')

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
count,1000000,999983,999728.000000,265135,37964.000000,999961,911223.000000,0.0,999061,998941,999493,999943,992477,999982.000000,1000000,999896,998972.000000,1.000000e+06,1.000000e+06
unique,1000000,353,NaN,29169,NaN,75,NaN,NaN,528,63,48,370969,2909,NaN,210,312,NaN,NaN,NaN
top,4282287726,2016-01-19T00:00:00,NaN,37,NaN,CA,NaN,NaN,TOYT,PA,BK,1301 ELECTRIC AVE,00600,NaN,80.69BS,NO PARK/STREET CLEAN,NaN,NaN,NaN
freq,1,9829,NaN,5116,NaN,933843,NaN,NaN,163382,876995,213732,1150,54557,NaN,275192,289022,NaN,NaN,NaN
mean,NaN,NaN,1226.441421,NaN,1078.952639,NaN,184553.136199,NaN,NaN,NaN,NaN,NaN,NaN,51.969426,NaN,NaN,70.005072,4.837113e+06,1.403845e+06
std,NaN,NaN,465.757403,NaN,220.162047,NaN,56106.120646,NaN,NaN,NaN,NaN,NaN,NaN,9.452227,NaN,NaN,31.910066,2.768613e+06,7.623581e+05
min,NaN,NaN,0.000000,NaN,2.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,10.000000,9.999900e+04,9.999900e+04
25%,NaN,NaN,926.000000,NaN,930.000000,NaN,201603.000000,NaN,NaN,NaN,NaN,NaN,NaN,51.000000,NaN,NaN,63.000000,9.999900e+04,9.999900e+04
50%,NaN,NaN,1207.000000,NaN,1055.000000,NaN,201607.000000,NaN,NaN,NaN,NaN,NaN,NaN,54.000000,NaN,NaN,68.000000,6.442368e+06,1.839655e+06
75%,NaN,NaN,1534.000000,NaN,1215.000000,NaN,201611.000000,NaN,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,73.000000,6.472574e+06,1.854146e+06
max,NaN,NaN,2359.000000,NaN,2355.000000,NaN,209912.000000,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,NaN,NaN,505.000000,6.513806e+06,1.941732e+06

### Dropping columns from a Dataframe

Lets take a look at our columns again. We can quickly see that columns VIN, Marked Time, and Meter ID all have a very high percent of NULL values, so we can decide to simply drop these columns.

In [11]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

VIN                      100.0000
Marked Time               96.2036
Meter Id                  73.4865
Plate Expiry Date          8.8777
Route                      0.7523
Body Style                 0.1059
Fine amount                0.1028
Make                       0.0939
Color                      0.0507
Issue time                 0.0272
Violation Description      0.0104
Location                   0.0057
RP State Plate             0.0039
Agency                     0.0018
Issue Date                 0.0017
Longitude                  0.0000
Latitude                   0.0000
Violation code             0.0000
Ticket number              0.0000
dtype: float64

 Let's say that for this analysis we're not concerned with the Route or the Agency, nor the Longitude/Latitude so let's drop those as well.

Pass the drop() method a list of the columns we'd like to drop and specify the axis as 1 (for the columns axis). The inplace parameter allows this method to occur **inplace**, or on our current DataFrame.
Think of it as the difference between:
-  x = x  + 1;
-  x++;

In [88]:
columns_to_drop = ["VIN", "Marked Time", "Meter Id", "Route", "Agency", "Longitude", "Latitude"]
df.drop(columns_to_drop, axis = 1, inplace = True)

In [13]:
df.head()

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
0,1103341116,2015-12-21T00:00:00,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50.0
1,1103700150,2015-12-21T00:00:00,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50.0
2,1104803000,2015-12-21T00:00:00,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58.0
3,1104820732,2015-12-26T00:00:00,1515.0,CA,NaN,ACUR,PA,WH,100 WORLD WAY,000,17104h,NaN
4,1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0

In [4]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

Plate Expiry Date        8.8777
Body Style               0.1059
Fine amount              0.1028
Make                     0.0939
Color                    0.0507
Issue time               0.0272
Violation Description    0.0104
Location                 0.0057
RP State Plate           0.0039
Issue Date               0.0017
Violation code           0.0000
Ticket number            0.0000
dtype: float64

For the sake of demonstration, we can also also drop rows with this method. Specify our axis as 0 for rows, and instead of column names we'll now use indice numbers

In [15]:
# Rows 0, 1, and 2 will be dropped from the DataFrame
# Also, notice we do not perform this method inplace. This way we are not permanently altering our DataFrame

df.drop([0, 1, 2], axis = 0)

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
3,1104820732,2015-12-26T00:00:00,1515.0,CA,NaN,ACUR,PA,WH,100 WORLD WAY,000,17104h,NaN
4,1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0
5,1106226590,2015-09-15T00:00:00,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,4000A1,NO EVIDENCE OF REG,50.0
6,1106500452,2015-12-17T00:00:00,1710.0,CA,201605.0,MAZD,PA,BL,SUNSET/ALVARADO,8070,PARK IN GRID LOCK ZN,163.0
7,1106500463,2015-12-17T00:00:00,1710.0,CA,201602.0,TOYO,PA,BK,SUNSET/ALVARADO,8070,PARK IN GRID LOCK ZN,163.0
8,1106506402,2015-12-22T00:00:00,945.0,CA,201605.0,CHEV,PA,BR,721 S WESTLAKE,8069AA,NO STOP/STAND AM,93.0
9,1106506413,2015-12-22T00:00:00,1100.0,CA,201701.0,NISS,PA,SI,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93.0
10,1106506424,2015-12-22T00:00:00,1100.0,CA,201511.0,FORD,TR,WH,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93.0
11,1106506435,2015-12-22T00:00:00,1105.0,CA,201701.0,CHRY,PA,GO,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93.0
12,1106506446,2015-12-22T00:00:00,1110.0,CA,201511.0,BMW,PA,BK,1200 W MIRAMAR,4000A1,NO EVIDENCE OF REG,50.0
13,1106549754,2015-12-15T00:00:00,825.0,CA,201607.0,PTRB,TR,BK,4TH/STATE,8069A,NO STOPPING/STANDING,93.0
14,1107179581,2015-12-27T00:00:00,1055.0,CA,201605.0,TOYO,PA,BK,3100 N HOLLYRIDGE DR,8058L,PREF PARKING,68.0
15,1107179592,2015-12-27T00:00:00,1200.0,CA,201602.0,MBNZ,PA,BK,3115 N BERENDO DR,8058L,PREF PARKING,68.0
16,1107179603,2015-12-27T00:00:00,1400.0,CA,201611.0,NISS,PA,WH,3100 N BEACHWOOD DR,8058L,PREF PARKING,68.0
17,1107539823,2015-09-16T00:00:00,2120.0,CA,201502.0,NISS,PA,NaN,BLAINE/11TH PL,4000A1,NO EVIDENCE OF REG,50.0
18,1107539834,2015-09-16T00:00:00,1045.0,CA,NaN,CHEV,PA,BK,1246 S FIGUEROA ST,8069AP,NO STOP/STAND PM,93.0
19,1107780811,2015-12-22T00:00:00,1102.0,CA,201606.0,HOND,PA,BK,PLATA/RAMPART,8069B,NO PARKING,73.0
20,1107780822,2015-12-22T00:00:00,1105.0,FL,201611.0,FORD,PA,WH,NaN,8069B,NO PARKING,73.0
21,1107973985,2015-12-18T00:00:00,1920.0,CA,201509.0,NISS,PA,BK,VICAR/CASTLE HEIGHTS,4000A1,NO EVIDENCE OF REG,50.0
22,1107973996,2015-12-18T00:00:00,1930.0,CA,201511.0,HOND,PA,BK,REGENT ST/IVY ST,4000A1,NO EVIDENCE OF REG,50.0
23,1107978852,2015-12-18T00:00:00,1900.0,CA,201511.0,HYUN,PA,SI,1707 GLENDON AV,4000A1,NO EVIDENCE OF REG,50.0
24,1108311002,2015-12-22T00:00:00,140.0,CA,201603.0,FORD,PA,RE,12113 BURBANK BL,5200A,DSPLYPLATE A,25.0
25,1108311013,2015-12-22T00:00:00,150.0,CA,201610.0,FORD,SU,GY,6936 AGNES AV,5200A,DSPLYPLATE A,25.0
26,1108311024,2015-12-22T00:00:00,205.0,CA,201607.0,MASE,PA,BL,12036 SATICOY ST,5200A,DSPLYPLATE A,25.0
27,1108311035,2015-12-22T00:00:00,200.0,CA,201511.0,BMW,PA,BK,7466 LAUREL CYN BL,099,5204,25.0
28,1108311046,2015-12-22T00:00:00,225.0,CA,201512.0,PONT,PA,SI,BURBANK BL/COLFAX AV,5200A,DSPLYPLATE A,25.0
29,1108311050,2015-12-22T00:00:00,510.0,CA,201601.0,TESL,PA,GY,11411 DONA PEGITA DR,5200A,DSPLYPLATE A,25.0
30,1108319494,2015-12-22T00:00:00,135.0,CA,201601.0,MBNZ,PA,WH,12355 BURBANK BL,5200A,DSPLYPLATE A,25.0
31,1108321701,2015-12-21T00:00:00,926.0,CA,201510.0,ACUR,PA,BK,5741 FLUTCHER AVE,4000A1,NO EVIDENCE OF REG,50.0
32,1108321712,2015-12-21T00:00:00,935.0,CA,201506.0,TOYO,PA,SI,5611 FLUTCHER AVE,4000A1,NO EVIDENCE OF REG,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999970,4284890805,2016-06-09T00:00:00,1516.0,CA,201703.0,HYUN,PA,BL,100 4TH ST E,88.13B+,METER EXP.,63.0
999971,4284890816,2016-06-09T00:00:00,1632.0,CA,201702.0,TOYT,PU,BK,907 7TH ST E,80.69AP+,NO STOP/STANDING,93.0
999972,4284890820,2016-06-09T00:00:00,1724.0,MX,NaN,CHEV,VN,WT,1040 WALL ST S,88.13B+,METER EXP.,63.0
999973,4284892286,2016-06-09T00:00:00,1109.0,CA,201601.0,HOND,PA,BL,206 S UNION PL,5204A-,DISPLAY OF TABS,25.0
999974,4284892290,2016-06-09T00:00:00,1132.0,CA,201609.0,HOND,PA,BK,680 BURLINGTON AVE S,80.69AP+,NO STOP/STANDING,93.0
999975,4284892301,2016-06-09T00:00:00,1139.0,CA,201702.0,OTHR,TK,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
999976,4284892323,2016-06-09T00:00:00,1214.0,CA,201604.0,KIA,PA,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
999977,4284892334,2016-06-09T00:00:00,1220.0,CA,201612.0,OTHR,TK,BN,1111 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
999978,4284892345,2016-06-09T00:00:00,1231.0,CA,201702.0,OTHR,TK,BN,1138 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
999979,4284892356,2016-06-09T00:00:00,1235.0,CA,201611.0,TOYT,PA,GY,651 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73.0
999980,4284892360,2016-06-09T00:00:00,1238.0,CA,NaN,BMW,PA,BK,1100 INGRAHAM ST,80.69BS,NO PARK/STREET CLEAN,73.0
999981,4284892371,2016-06-09T00:00:00,1633.0,CA,201611.0,IND,PA,SL,1202 CYPRESS AVE,80.56E4+,RED ZONE,93.0
999982,4284892382,2016-06-09T00:00:00,1653.0,CA,201701.0,HOND,PA,GO,1225 N ALTA ST,80.56E4+,RED ZONE,93.0
999983,4284892393,2016-06-09T00:00:00,1733.0,CA,NaN,HOND,PA,GY,629 TRACTION AV,88.13B+,METER EXP.,63.0
999984,4284892404,2016-06-09T00:00:00,1735.0,CA,201703.0,VOLK,PA,GY,200 S ROSE ST,88.13B+,METER EXP.,63.0
999985,4284894703,2016-06-09T00:00:00,1128.0,CA,201610.0,HOND,PA,GY,1400 OGDEN DR S,88.13B+,METER EXP.,63.0
999986,4284894714,2016-06-09T00:00:00,1143.0,CA,201610.0,BMW,PA,BK,5279 PICO BL W,88.13B+,METER EXP.,63.0
999987,4284894725,2016-06-09T00:00:00,1157.0,CA,201702.0,TOYT,PA,WT,1149 WOOSTER ST,80.56E4+,RED ZONE,93.0
999988,4284894736,2016-06-09T00:00:00,1203.0,CA,201611.0,BMW,PA,WT,8817 PICO BL W,88.13B+,METER EXP.,63.0
999989,4284894740,2016-06-09T00:00:00,1227.0,CA,201703.0,FORD,PA,WT,10612 PICO BL W,88.13B+,METER EXP.,63.0
999990,4284894751,2016-06-09T00:00:00,1241.0,CA,201609.0,TOYT,PA,WT,1400 CANFIELD AV,88.13B+,METER EXP.,63.0
999991,4284894762,2016-06-09T00:00:00,1248.0,CA,201611.0,HOND,VN,GY,8866 PICO BLVD,88.13B+,METER EXP.,63.0
999992,4284894773,2016-06-09T00:00:00,1255.0,CA,201706.0,TOYT,PA,WT,1421 WOOSTER ST S,88.03A,OUTSIDE LINES/METER,58.0
999993,4284894784,2016-06-09T00:00:00,1307.0,CA,201703.0,KIA,PA,RD,5662 PICO BLVD W,80.56E4+,RED ZONE,93.0
999994,4284894795,2016-06-09T00:00:00,1525.0,CA,201607.0,FORD,PU,BL,6064 SATURN ST,80.73.2,EXCEED 72HRS-ST,68.0
999995,4284896755,2016-06-09T00:00:00,1123.0,CA,201609.0,CHEV,PA,BK,14500 HORTENSE ST,88.13B+,METER EXP.,63.0
999996,4284896766,2016-06-09T00:00:00,1132.0,CA,201612.0,TOYT,PA,WT,14200 VENTURA BL,88.13B+,METER EXP.,63.0
999997,4284896770,2016-06-09T00:00:00,1135.0,CA,201612.0,MAZD,PA,BL,14200 VENTURA BL,88.13B+,METER EXP.,63.0
999998,4284896781,2016-06-09T00:00:00,1140.0,CA,201610.0,DODG,PA,PR,14100 VENTURA BL,88.13B+,METER EXP.,63.0
999999,4284896792,2016-06-09T00:00:00,1147.0,CA,201605.0,MERZ,PA,BK,13700 VENTURA BL,88.13B+,METER EXP.,63.0

In [16]:
df.head()

,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
0,1103341116,2015-12-21T00:00:00,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50.0
1,1103700150,2015-12-21T00:00:00,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50.0
2,1104803000,2015-12-21T00:00:00,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58.0
3,1104820732,2015-12-26T00:00:00,1515.0,CA,NaN,ACUR,PA,WH,100 WORLD WAY,000,17104h,NaN
4,1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0

### Creating a unique index for your DataFrame

Pandas allows us to slice and access rows of our Dataframe utilizing the unique index numbers. In many cases, it is helpful to use a unique identifying field from the data as its index , rather than having our rows labeled 0 - 999999. In this case,
Ticket Number would function as an excellent Index for us

In [17]:
# Ensuring Ticket Numbers are in fact, unique
df['Ticket number'].is_unique

True

In [89]:
df.set_index('Ticket number', inplace = True)
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
1103341116,2015-12-21T00:00:00,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50.0
1103700150,2015-12-21T00:00:00,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50.0
1104803000,2015-12-21T00:00:00,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58.0
1104820732,2015-12-26T00:00:00,1515.0,CA,NaN,ACUR,PA,WH,100 WORLD WAY,000,17104h,NaN
1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93.0

### Indexing your Dataframe

#### pd.DataFrame.loc[ ]  allows us to do label-based indexing

This means accessing records using their unique label (index), without regard to their position in the DataFrame. In our case the unique label is now the ticket number

In [19]:
# This will return the record of ticket number 1103341116 (It happens to be the first row in our DataFrame) 
# Note that the column ticket number was an object (essentially a string), so we need the apostrophes
df.loc['1103341116']

Issue Date               2015-12-21T00:00:00
Issue time                              1251
RP State Plate                            CA
Plate Expiry Date                     200304
Make                                    HOND
Body Style                                PA
Color                                     GY
Location                     13147 WELBY WAY
Violation code                        4000A1
Violation Description     NO EVIDENCE OF REG
Fine amount                               50
Name: 1103341116, dtype: object

#### pd.DataFrame.iloc[ ] allows us to do position-based indexing

This means accessing a row based on what row number it is in the DataFrame. To access the first record in the DataFrame (which we also pulled above) do:

In [20]:
df.iloc[0]

Issue Date               2015-12-21T00:00:00
Issue time                              1251
RP State Plate                            CA
Plate Expiry Date                     200304
Make                                    HOND
Body Style                                PA
Color                                     GY
Location                     13147 WELBY WAY
Violation code                        4000A1
Violation Description     NO EVIDENCE OF REG
Fine amount                               50
Name: 1103341116, dtype: object

This function also allows for Numpy like slicing of our DataFrame. For example, to retrieve the last 2,000 records of the DataFrame we can do:

In [21]:
df.iloc[(len(df)-2000):]

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
4284477691,2016-06-09T00:00:00,1456.0,CA,1.0,OTHR,TK,BN,536 8TH ST E,80.56E4+,RED ZONE,93.0
4284477702,2016-06-09T00:00:00,1501.0,CA,201704.0,TOYT,PA,BK,964 SAN JULIAN ST S,80.69C,PARKED OVER TIME LIM,58.0
4284477713,2016-06-09T00:00:00,1614.0,CA,NaN,OTHR,PA,WT,938 SAN JULIAN ST S,80.69C,PARKED OVER TIME LIM,58.0
4284477724,2016-06-09T00:00:00,1628.0,CA,201703.0,BMW,PA,BK,758 14TH ST E,80.56E2,YELLOW ZONE,58.0
4284477735,2016-06-09T00:00:00,1647.0,CA,201702.0,BUIC,PA,WT,505 6TH ST E,80.69C,PARKED OVER TIME LIM,58.0
4284477746,2016-06-09T00:00:00,1725.0,CA,NaN,CHEV,TK,BK,914 SAN JULIAN ST S,80.69C,PARKED OVER TIME LIM,58.0
4284479021,2016-06-09T00:00:00,736.0,CA,201608.0,TOYT,VN,GY,210 AVENUE 42 E,80.69BS,NO PARK/STREET CLEAN,73.0
4284479032,2016-06-09T00:00:00,739.0,CA,201508.0,KIA,PA,BK,4111 CARLOTA BLVD,80.69BS,NO PARK/STREET CLEAN,73.0
4284479043,2016-06-09T00:00:00,743.0,CA,201611.0,TOYT,PA,SL,4020 MIDLAND ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479054,2016-06-09T00:00:00,745.0,CA,201701.0,HOND,PA,RD,228 AVENUE 40 E,80.69BS,NO PARK/STREET CLEAN,73.0
4284479065,2016-06-09T00:00:00,748.0,CA,201612.0,FORD,PA,GY,108 AVENUE 40 E,80.69BS,NO PARK/STREET CLEAN,73.0
4284479076,2016-06-09T00:00:00,813.0,CA,201612.0,SUZI,PA,GY,3601 ARROYO SECO AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4284479080,2016-06-09T00:00:00,819.0,CA,201703.0,FORD,PA,WT,3432 MARMION WAY,80.69BS,NO PARK/STREET CLEAN,73.0
4284479091,2016-06-09T00:00:00,840.0,CA,201603.0,VOLK,PA,WT,205 AVENUE 43 E,5204A-,DISPLAY OF TABS,25.0
4284479102,2016-06-09T00:00:00,904.0,CA,201612.0,TOYT,PU,SL,3222 HURON ST,22500F,PARKED ON SIDEWALK,68.0
4284479113,2016-06-09T00:00:00,910.0,CT,NaN,CHEV,PA,GY,2824 JEFFRIES AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4284479124,2016-06-09T00:00:00,916.0,CA,201705.0,FORD,PA,BK,2653 MERCED ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479135,2016-06-09T00:00:00,919.0,CA,201703.0,KIA,PA,BK,2601 MERCED ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479146,2016-06-09T00:00:00,922.0,CA,201602.0,PONT,PA,SL,2620 MACEO ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479150,2016-06-09T00:00:00,924.0,CA,201602.0,PONT,PA,SL,2620 MACEO ST,5204A-,DISPLAY OF TABS,25.0
4284479161,2016-06-09T00:00:00,928.0,TX,201602.0,NISS,PA,GY,2605 LOOSMORE ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479172,2016-06-09T00:00:00,933.0,CA,201607.0,ACUR,PA,GY,2612 ROSEVIEW AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4284479183,2016-06-09T00:00:00,939.0,CA,201704.0,MAZD,PA,BK,2616 DIVISION ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479194,2016-06-09T00:00:00,1108.0,CA,201609.0,TOYT,PA,SL,817 BURLINGTON AVE,80.56E1,WHITE ZONE,58.0
4284479205,2016-06-09T00:00:00,1138.0,CA,201705.0,FORD,PU,RD,609 UNION AVE,80.56E2,YELLOW ZONE,58.0
4284479216,2016-06-09T00:00:00,1245.0,CA,201606.0,INFI,PA,GY,817 BONNIE BRAE ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284479220,2016-06-09T00:00:00,1318.0,CA,201607.0,MERZ,PA,GY,644 LUCAS AVE,80.69BS,NO PARK/STREET CLEAN,73.0
4284483383,2016-06-09T00:00:00,853.0,CA,201609.0,TOYT,PA,BL,W 6600 LINDENHURST AVE,80.58L,PREFERENTIAL PARKING,68.0
4284483394,2016-06-09T00:00:00,856.0,CA,201604.0,CHEV,PA,BL,W 6651 LINDENHURST AVE,80.58L,PREFERENTIAL PARKING,68.0
4284483405,2016-06-09T00:00:00,856.0,CA,201604.0,CHEV,PA,BL,W 6651 LINDENHURST AVE,5200,DISPLAY OF PLATES,25.0
...,...,...,...,...,...,...,...,...,...,...,...
4284890805,2016-06-09T00:00:00,1516.0,CA,201703.0,HYUN,PA,BL,100 4TH ST E,88.13B+,METER EXP.,63.0
4284890816,2016-06-09T00:00:00,1632.0,CA,201702.0,TOYT,PU,BK,907 7TH ST E,80.69AP+,NO STOP/STANDING,93.0
4284890820,2016-06-09T00:00:00,1724.0,MX,NaN,CHEV,VN,WT,1040 WALL ST S,88.13B+,METER EXP.,63.0
4284892286,2016-06-09T00:00:00,1109.0,CA,201601.0,HOND,PA,BL,206 S UNION PL,5204A-,DISPLAY OF TABS,25.0
4284892290,2016-06-09T00:00:00,1132.0,CA,201609.0,HOND,PA,BK,680 BURLINGTON AVE S,80.69AP+,NO STOP/STANDING,93.0
4284892301,2016-06-09T00:00:00,1139.0,CA,201702.0,OTHR,TK,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
4284892323,2016-06-09T00:00:00,1214.0,CA,201604.0,KIA,PA,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
4284892334,2016-06-09T00:00:00,1220.0,CA,201612.0,OTHR,TK,BN,1111 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
4284892345,2016-06-09T00:00:00,1231.0,CA,201702.0,OTHR,TK,BN,1138 WILSHIRE BLVD,80.56E4+,RED ZONE,93.0
4284892356,2016-06-09T00:00:00,1235.0,CA,201611.0,TOYT,PA,GY,651 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73.0
4284892360,2016-06-09T00:00:00,1238.0,CA,NaN,BMW,PA,BK,1100 INGRAHAM ST,80.69BS,NO PARK/STREET CLEAN,73.0
4284892371,2016-06-09T00:00:00,1633.0,CA,201611.0,IND,PA,SL,1202 CYPRESS AVE,80.56E4+,RED ZONE,93.0
4284892382,2016-06-09T00:00:00,1653.0,CA,201701.0,HOND,PA,GO,1225 N ALTA ST,80.56E4+,RED ZONE,93.0
4284892393,2016-06-09T00:00:00,1733.0,CA,NaN,HOND,PA,GY,629 TRACTION AV,88.13B+,METER EXP.,63.0
4284892404,2016-06-09T00:00:00,1735.0,CA,201703.0,VOLK,PA,GY,200 S ROSE ST,88.13B+,METER EXP.,63.0
4284894703,2016-06-09T00:00:00,1128.0,CA,201610.0,HOND,PA,GY,1400 OGDEN DR S,88.13B+,METER EXP.,63.0
4284894714,2016-06-09T00:00:00,1143.0,CA,201610.0,BMW,PA,BK,5279 PICO BL W,88.13B+,METER EXP.,63.0
4284894725,2016-06-09T00:00:00,1157.0,CA,201702.0,TOYT,PA,WT,1149 WOOSTER ST,80.56E4+,RED ZONE,93.0
4284894736,2016-06-09T00:00:00,1203.0,CA,201611.0,BMW,PA,WT,8817 PICO BL W,88.13B+,METER EXP.,63.0
4284894740,2016-06-09T00:00:00,1227.0,CA,201703.0,FORD,PA,WT,10612 PICO BL W,88.13B+,METER EXP.,63.0
4284894751,2016-06-09T00:00:00,1241.0,CA,201609.0,TOYT,PA,WT,1400 CANFIELD AV,88.13B+,METER EXP.,63.0
4284894762,2016-06-09T00:00:00,1248.0,CA,201611.0,HOND,VN,GY,8866 PICO BLVD,88.13B+,METER EXP.,63.0
4284894773,2016-06-09T00:00:00,1255.0,CA,201706.0,TOYT,PA,WT,1421 WOOSTER ST S,88.03A,OUTSIDE LINES/METER,58.0
4284894784,2016-06-09T00:00:00,1307.0,CA,201703.0,KIA,PA,RD,5662 PICO BLVD W,80.56E4+,RED ZONE,93.0
4284894795,2016-06-09T00:00:00,1525.0,CA,201607.0,FORD,PU,BL,6064 SATURN ST,80.73.2,EXCEED 72HRS-ST,68.0
4284896755,2016-06-09T00:00:00,1123.0,CA,201609.0,CHEV,PA,BK,14500 HORTENSE ST,88.13B+,METER EXP.,63.0
4284896766,2016-06-09T00:00:00,1132.0,CA,201612.0,TOYT,PA,WT,14200 VENTURA BL,88.13B+,METER EXP.,63.0
4284896770,2016-06-09T00:00:00,1135.0,CA,201612.0,MAZD,PA,BL,14200 VENTURA BL,88.13B+,METER EXP.,63.0
4284896781,2016-06-09T00:00:00,1140.0,CA,201610.0,DODG,PA,PR,14100 VENTURA BL,88.13B+,METER EXP.,63.0
4284896792,2016-06-09T00:00:00,1147.0,CA,201605.0,MERZ,PA,BK,13700 VENTURA BL,88.13B+,METER EXP.,63.0

### Dealing with NaN or Inaccurate values

In [22]:
percent_missing

Plate Expiry Date        8.8777
Body Style               0.1059
Fine amount              0.1028
Make                     0.0939
Color                    0.0507
Issue time               0.0272
Violation Description    0.0104
Location                 0.0057
RP State Plate           0.0039
Issue Date               0.0017
Violation code           0.0000
Ticket number            0.0000
dtype: float64

In [23]:
df.dtypes

Issue Date                object
Issue time               float64
RP State Plate            object
Plate Expiry Date        float64
Make                      object
Body Style                object
Color                     object
Location                  object
Violation code            object
Violation Description     object
Fine amount              float64
dtype: object

We'll go ahead and fill the numeric columns which contain NULL values with 0, these are Issue Time, Fine Amount, and Plate Expiration Date. We'll then convert these columns to integers after noticing their values are all whole numbers

In [90]:
df['Issue time'].fillna(value=0.0, inplace=True)
df['Issue time'] = df['Issue time'].astype(int)

df['Fine amount'].fillna(value=0.0, inplace=True)
df['Fine amount'] = df['Fine amount'].astype(int)

df['Plate Expiry Date'].fillna(value=0.0, inplace=True)
df['Plate Expiry Date'] = df['Plate Expiry Date'].astype(int)

df.dtypes

Issue Date               object
Issue time                int64
RP State Plate           object
Plate Expiry Date         int64
Make                     object
Body Style               object
Color                    object
Location                 object
Violation code           object
Violation Description    object
Fine amount               int64
dtype: object

In [25]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False, inplace=True)
percent_missing

Body Style               0.1059
Make                     0.0939
Color                    0.0507
Violation Description    0.0104
Location                 0.0057
RP State Plate           0.0039
Issue Date               0.0017
Fine amount              0.0000
Violation code           0.0000
Plate Expiry Date        0.0000
Issue time               0.0000
dtype: float64

Okay, now we're getting there. Let's recap: We started by dropping all the columns that we either weren't interested in, or simply had too many missing values to be useful. We then created a unique index for the data, Ticket Number, and filled in missing values in our numeric columns with an arbitrary value. Let's take a look at the dataset again to decide if any further manipulation is necessary...

### Cleaning up our Columns

In [26]:
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
1103341116,2015-12-21T00:00:00,1251,CA,200304,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50
1103700150,2015-12-21T00:00:00,1435,CA,201512,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50
1104803000,2015-12-21T00:00:00,2055,CA,201503,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58
1104820732,2015-12-26T00:00:00,1515,CA,0,ACUR,PA,WH,100 WORLD WAY,000,17104h,0
1105461453,2015-09-15T00:00:00,115,CA,200316,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93

The first thing I notice is that Plate Expiration Date is in integer form. We'd like to turn this column into a date-time type with a proper year-month format. Let's look at the unique values...

In [7]:
unique_dates = pd.Series(np.sort(df['Plate Expiry Date'].unique()))
unique_dates

0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13     200001
14     200005
15     200007
16     200008
17     200009
18     200010
19     200011
20     200012
21     200101
22     200102
23     200103
24     200104
25     200105
26     200106
27     200107
28     200108
29     200109
        ...
376    209009
377    209010
378    209011
379    209012
380    209104
381    209112
382    209212
383    209302
384    209304
385    209311
386    209407
387    209409
388    209410
389    209412
390    209505
391    209508
392    209512
393    209603
394    209606
395    209609
396    209704
397    209705
398    209708
399    209710
400    209805
401    209902
402    209903
403    209905
404    209909
405    209912
Length: 406, dtype: int64

We have a couple things to deal with here. The first thing to tackle are the outliers... The expiration dates seem to range from year 2000 to 2099, therefore the integers 1 through 12 don't mean much. (0 came from our NULL values). I'm going to treat these outliers as missing dates and simply replace them with 0

#### To do this let's utilize Numpy.where

&emsp;&emsp;&emsp;np.where(condition, then, else)
<br>
<br>
This will loop through each row of the column we pass to it and check whether the condition is true. If True, apply the 'then' value, if not, apply the else value

In [91]:
df['Plate Expiry Date'] = np.where(df['Plate Expiry Date'] <= 12, 0, df['Plate Expiry Date'])

In [92]:
unique_dates = pd.Series(np.sort(df['Plate Expiry Date'].unique()))
unique_dates.iloc[:10]

0         0
1    200001
2    200005
3    200007
4    200008
5    200009
6    200010
7    200011
8    200012
9    200101
dtype: int64

Awesome, we've replaced all of those outliers with 0. Now let's take a look at how to convert these integers to a date format

&emsp; We'll utilize **pd.to_datetime()** <br><br>
This method will parse through the column we pass to it and convert it to a Pandas **Datetime** format <br>
-   Datetime format is commonly used when dealing with Dates as it provides a great deal of functionality and makes these columns much easier to deal with
-  The parameter **Errors** communicates how to deal with elements that can't be interpreted as a date, **Coerce** says just make these NULL
-  We also pass the format of the column we'll be parsing, in this case the Plate Exp Date ints are in year-month format: **%Y%m**

In [93]:
df['Plate Expiry Date'] = pd.to_datetime(df['Plate Expiry Date'], errors='coerce', format='%Y%m')
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
1103341116,2015-12-21T00:00:00,1251,CA,2003-04-01,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50
1103700150,2015-12-21T00:00:00,1435,CA,2015-12-01,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50
1104803000,2015-12-21T00:00:00,2055,CA,2015-03-01,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58
1104820732,2015-12-26T00:00:00,1515,CA,NaT,ACUR,PA,WH,100 WORLD WAY,000,17104h,0
1105461453,2015-09-15T00:00:00,115,CA,NaT,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93

The last column which needs a bit of cleaning is the **Issue Date** column. We'd like to chop off the end of each string in the column since it seems every entry has 'T00:00:00' tacked on. Let's take a look at how we can do this...

Pandas provides a number of nifty and easy to use vectorized string operations in the way of **pd.Series.str**, some examples are:
-  pd.Series.str.split()
-  pd.Series.str.replace()
-  pd.Series.str.contains() <br>
<br> And the one which we'll utilize...
-  **pd.Series.str.extract()**
<br> This will allow us to extract the part of each string in the column that matches the Regular Expression we pass to it 
<br> The Regular Expression **\d{4}-\d{2}-\d{2}** will search for the pattern: Any 4 digits - Any 2 digits - Any 2 digits
<br>
<br> *If you're not familiar with RegEx don't worry too much as it's not the purpose of today's lecture*
<br> &emsp; *If you'd like to read more on RegEx visit: https://regexr.com/.*

In [94]:
df['Issue Date'] = df['Issue Date'].str.extract(r'^(\d{4}-\d{2}-\d{2})', expand = False)
df.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
1103341116,2015-12-21,1251,CA,2003-04-01,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50
1103700150,2015-12-21,1435,CA,2015-12-01,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50
1104803000,2015-12-21,2055,CA,2015-03-01,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58
1104820732,2015-12-26,1515,CA,NaT,ACUR,PA,WH,100 WORLD WAY,000,17104h,0
1105461453,2015-09-15,115,CA,NaT,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93

Okay, so we've extracted the date portion of **Issue Date**. As you can see below, this column is still an object, or essentially a string. Similar to Plate Expiration Date, we'd like to convert this to Datetime format so we can make use of Pandas' Datetime functionality later down the road.

In [117]:
df.dtypes

Issue Date               object
Issue time               int64
RP State Plate           object
Plate Expiry Date        datetime64[ns]
Make                     object
Body Style               object
Color                    object
Location                 object
Violation code           object
Violation Description    object
Fine amount              int64
dtype: object

Note how this time the format to be parsed is a bit different. In this case, Issue Date is already in date format **%Y-%m-%d**, we just want to convert it to the datetime datetype

In [95]:
df['Issue Date'] = pd.to_datetime(df['Issue Date'], errors='coerce', format='%Y-%m-%d')
df.dtypes

Issue Date               datetime64[ns]
Issue time                        int64
RP State Plate                   object
Plate Expiry Date        datetime64[ns]
Make                             object
Body Style                       object
Color                            object
Location                         object
Violation code                   object
Violation Description            object
Fine amount                       int64
dtype: object

In [96]:
df

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount
Ticket number,,,,,,,,,,,
1103341116,2015-12-21,1251,CA,2003-04-01,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50
1103700150,2015-12-21,1435,CA,2015-12-01,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50
1104803000,2015-12-21,2055,CA,2015-03-01,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58
1104820732,2015-12-26,1515,CA,NaT,ACUR,PA,WH,100 WORLD WAY,000,17104h,0
1105461453,2015-09-15,115,CA,NaT,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93
1106226590,2015-09-15,19,CA,2015-07-01,CHEV,VN,GY,SAN PEDRO S/O BOYD,4000A1,NO EVIDENCE OF REG,50
1106500452,2015-12-17,1710,CA,2016-05-01,MAZD,PA,BL,SUNSET/ALVARADO,8070,PARK IN GRID LOCK ZN,163
1106500463,2015-12-17,1710,CA,2016-02-01,TOYO,PA,BK,SUNSET/ALVARADO,8070,PARK IN GRID LOCK ZN,163
1106506402,2015-12-22,945,CA,2016-05-01,CHEV,PA,BR,721 S WESTLAKE,8069AA,NO STOP/STAND AM,93
1106506413,2015-12-22,1100,CA,2017-01-01,NISS,PA,SI,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93
1106506424,2015-12-22,1100,CA,2015-11-01,FORD,TR,WH,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93
1106506435,2015-12-22,1105,CA,2017-01-01,CHRY,PA,GO,1159 HUNTLEY DR,8069AA,NO STOP/STAND AM,93
1106506446,2015-12-22,1110,CA,2015-11-01,BMW,PA,BK,1200 W MIRAMAR,4000A1,NO EVIDENCE OF REG,50
1106549754,2015-12-15,825,CA,2016-07-01,PTRB,TR,BK,4TH/STATE,8069A,NO STOPPING/STANDING,93
1107179581,2015-12-27,1055,CA,2016-05-01,TOYO,PA,BK,3100 N HOLLYRIDGE DR,8058L,PREF PARKING,68
1107179592,2015-12-27,1200,CA,2016-02-01,MBNZ,PA,BK,3115 N BERENDO DR,8058L,PREF PARKING,68
1107179603,2015-12-27,1400,CA,2016-11-01,NISS,PA,WH,3100 N BEACHWOOD DR,8058L,PREF PARKING,68
1107539823,2015-09-16,2120,CA,2015-02-01,NISS,PA,NaN,BLAINE/11TH PL,4000A1,NO EVIDENCE OF REG,50
1107539834,2015-09-16,1045,CA,NaT,CHEV,PA,BK,1246 S FIGUEROA ST,8069AP,NO STOP/STAND PM,93
1107780811,2015-12-22,1102,CA,2016-06-01,HOND,PA,BK,PLATA/RAMPART,8069B,NO PARKING,73
1107780822,2015-12-22,1105,FL,2016-11-01,FORD,PA,WH,NaN,8069B,NO PARKING,73
1107973985,2015-12-18,1920,CA,2015-09-01,NISS,PA,BK,VICAR/CASTLE HEIGHTS,4000A1,NO EVIDENCE OF REG,50
1107973996,2015-12-18,1930,CA,2015-11-01,HOND,PA,BK,REGENT ST/IVY ST,4000A1,NO EVIDENCE OF REG,50
1107978852,2015-12-18,1900,CA,2015-11-01,HYUN,PA,SI,1707 GLENDON AV,4000A1,NO EVIDENCE OF REG,50
1108311002,2015-12-22,140,CA,2016-03-01,FORD,PA,RE,12113 BURBANK BL,5200A,DSPLYPLATE A,25
1108311013,2015-12-22,150,CA,2016-10-01,FORD,SU,GY,6936 AGNES AV,5200A,DSPLYPLATE A,25
1108311024,2015-12-22,205,CA,2016-07-01,MASE,PA,BL,12036 SATICOY ST,5200A,DSPLYPLATE A,25
1108311035,2015-12-22,200,CA,2015-11-01,BMW,PA,BK,7466 LAUREL CYN BL,099,5204,25
1108311046,2015-12-22,225,CA,2015-12-01,PONT,PA,SI,BURBANK BL/COLFAX AV,5200A,DSPLYPLATE A,25
1108311050,2015-12-22,510,CA,2016-01-01,TESL,PA,GY,11411 DONA PEGITA DR,5200A,DSPLYPLATE A,25
...,...,...,...,...,...,...,...,...,...,...,...
4284890805,2016-06-09,1516,CA,2017-03-01,HYUN,PA,BL,100 4TH ST E,88.13B+,METER EXP.,63
4284890816,2016-06-09,1632,CA,2017-02-01,TOYT,PU,BK,907 7TH ST E,80.69AP+,NO STOP/STANDING,93
4284890820,2016-06-09,1724,MX,NaT,CHEV,VN,WT,1040 WALL ST S,88.13B+,METER EXP.,63
4284892286,2016-06-09,1109,CA,2016-01-01,HOND,PA,BL,206 S UNION PL,5204A-,DISPLAY OF TABS,25
4284892290,2016-06-09,1132,CA,2016-09-01,HOND,PA,BK,680 BURLINGTON AVE S,80.69AP+,NO STOP/STANDING,93
4284892301,2016-06-09,1139,CA,2017-02-01,OTHR,TK,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93
4284892323,2016-06-09,1214,CA,2016-04-01,KIA,PA,WT,1100 WILSHIRE BLVD,80.56E4+,RED ZONE,93
4284892334,2016-06-09,1220,CA,2016-12-01,OTHR,TK,BN,1111 WILSHIRE BLVD,80.56E4+,RED ZONE,93
4284892345,2016-06-09,1231,CA,2017-02-01,OTHR,TK,BN,1138 WILSHIRE BLVD,80.56E4+,RED ZONE,93
4284892356,2016-06-09,1235,CA,2016-11-01,TOYT,PA,GY,651 BIXEL ST S,80.69BS,NO PARK/STREET CLEAN,73
4284892360,2016-06-09,1238,CA,NaT,BMW,PA,BK,1100 INGRAHAM ST,80.69BS,NO PARK/STREET CLEAN,73
4284892371,2016-06-09,1633,CA,2016-11-01,IND,PA,SL,1202 CYPRESS AVE,80.56E4+,RED ZONE,93
4284892382,2016-06-09,1653,CA,2017-01-01,HOND,PA,GO,1225 N ALTA ST,80.56E4+,RED ZONE,93
4284892393,2016-06-09,1733,CA,NaT,HOND,PA,GY,629 TRACTION AV,88.13B+,METER EXP.,63
4284892404,2016-06-09,1735,CA,2017-03-01,VOLK,PA,GY,200 S ROSE ST,88.13B+,METER EXP.,63
4284894703,2016-06-09,1128,CA,2016-10-01,HOND,PA,GY,1400 OGDEN DR S,88.13B+,METER EXP.,63
4284894714,2016-06-09,1143,CA,2016-10-01,BMW,PA,BK,5279 PICO BL W,88.13B+,METER EXP.,63
4284894725,2016-06-09,1157,CA,2017-02-01,TOYT,PA,WT,1149 WOOSTER ST,80.56E4+,RED ZONE,93
4284894736,2016-06-09,1203,CA,2016-11-01,BMW,PA,WT,8817 PICO BL W,88.13B+,METER EXP.,63
4284894740,2016-06-09,1227,CA,2017-03-01,FORD,PA,WT,10612 PICO BL W,88.13B+,METER EXP.,63
4284894751,2016-06-09,1241,CA,2016-09-01,TOYT,PA,WT,1400 CANFIELD AV,88.13B+,METER EXP.,63
4284894762,2016-06-09,1248,CA,2016-11-01,HOND,VN,GY,8866 PICO BLVD,88.13B+,METER EXP.,63
4284894773,2016-06-09,1255,CA,2017-06-01,TOYT,PA,WT,1421 WOOSTER ST S,88.03A,OUTSIDE LINES/METER,58
4284894784,2016-06-09,1307,CA,2017-03-01,KIA,PA,RD,5662 PICO BLVD W,80.56E4+,RED ZONE,93
4284894795,2016-06-09,1525,CA,2016-07-01,FORD,PU,BL,6064 SATURN ST,80.73.2,EXCEED 72HRS-ST,68
4284896755,2016-06-09,1123,CA,2016-09-01,CHEV,PA,BK,14500 HORTENSE ST,88.13B+,METER EXP.,63
4284896766,2016-06-09,1132,CA,2016-12-01,TOYT,PA,WT,14200 VENTURA BL,88.13B+,METER EXP.,63
4284896770,2016-06-09,1135,CA,2016-12-01,MAZD,PA,BL,14200 VENTURA BL,88.13B+,METER EXP.,63
4284896781,2016-06-09,1140,CA,2016-10-01,DODG,PA,PR,14100 VENTURA BL,88.13B+,METER EXP.,63
4284896792,2016-06-09,1147,CA,2016-05-01,MERZ,PA,BK,13700 VENTURA BL,88.13B+,METER EXP.,63

We're lookin good!

#### If we've got time we can cover these extra topics

### Calculated Columns

A big part of Machine Learning and Data Science is about brainstorming and creating new features to extract more information from the data than what is present at first glance. In this case we might question whether there is a correlation between number of tickets issued and the current season... Lets create a new feature, or column, in this dataset for Season of Issue Date

Creating a new column is as simple as 
-  df['New Column Name'] = Equation or Conditional used to set values in new column
<br><br> Here we'll use a fancy calculation against the month of Issue Date to determine the season (from 1 - 4) based off the month
<br> **Series.dt** provides a number of datetime functions if the column is in datetime format
-  Specifically, Series.dt.month returns the month of the datetime as a float E.G: January = 1.0

In [97]:
df['Issue Season'] = ((df['Issue Date'].dt.month % 12 + 3) // 3).fillna(0.0).astype(int)
df.head()
#    Month      Season
# 12 | 1 | 2 = 'Winter' or 1
# 3 | 4 | 5 = 'Spring' or 2
# 6 | 7 | 8 = 'Summer' or 3
# 9 | 10 | 11 = 'Fall' or 4

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
1103341116,2015-12-21,1251,CA,2003-04-01,HOND,PA,GY,13147 WELBY WAY,4000A1,NO EVIDENCE OF REG,50,1
1103700150,2015-12-21,1435,CA,2015-12-01,GMC,VN,WH,525 S MAIN ST,4000A1,NO EVIDENCE OF REG,50,1
1104803000,2015-12-21,2055,CA,2015-03-01,NISS,PA,BK,200 WORLD WAY,8939,WHITE CURB,58,1
1104820732,2015-12-26,1515,CA,NaT,ACUR,PA,WH,100 WORLD WAY,000,17104h,0,1
1105461453,2015-09-15,115,CA,NaT,CHEV,PA,BK,GEORGIA ST/OLYMPIC,8069A,NO STOPPING/STANDING,93,4

In [98]:
df['Issue Season'].unique()

array([1, 4, 3, 2, 0])

### Sorting and filtering a Dataframe

#### Now, as an example, we could filter on just tickets issued in the Summer, and then let's sort the data by Issue Date

In [99]:
df.shape

(1000000, 12)

Filtering can be done by passing the conditional we want to filter on into the original DataFrame<br><br>Here, the inner conditional results in a boolean array of length 1000000. It's true when Season is 3, and False otherwise <br> We pass this boolean array to our original DataFrame and this filters our data on just rows where our inner condition was found to be True

In [100]:
df_summer = df[df['Issue Season'] == 3]
df_summer.head()

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
1110732615,2015-08-26,1742,CA,2016-08-01,FORD,PA,BK,5400 GRIFFITH PARK,8603,PK IN PROH AREA,68,3
1104104816,2015-08-21,1400,CA,2015-08-01,TOYO,TR,BK,E/W ALLEY PCH/BROAD,8061,STNDNG IN ALLEY,68,3
1104104820,2015-08-31,1700,CA,2016-02-01,NISS,PA,BK,322 BROAD AVE,013,22500H,68,3
1096769575,2015-08-10,1655,CA,2016-04-01,VOLK,PA,WH,1282 W 29TH ST,018,22502A,63,3
1109919075,2015-07-14,1220,AZ,2016-06-01,FORD,PA,SI,WESTGATE/SANTA MONIC,8049,WRG SD/NOT PRL,63,3

In [101]:
df_summer.shape

(54644, 12)

And, as expected, this new DataFrame is a subset of our orginal DataFrame

Sometimes you may need to filter a dataset based on if a column contains a number of different values, and don't want to create a long OR statement... <br> In this case you could filter your DataFrame based off a list, like so:

In [110]:
seasons = [1, 2, 4]

As you may have guessed, we're going to attempt to filter our data on tickets issued in every season OTHER than summer. <br>
The technique we use is the same, but the conditional will look a bit different. Lets take a look...

In [121]:
df_not_summer = df[df['Issue Season'].isin(seasons)]

print('Seasons: ' + str(df_not_summer['Issue Season'].unique()) + '    Shape: ' + str(df_not_summer.shape))

Seasons: [1 4 2]    Shape: (945339, 12)

As you can see, this new DataFrame contains all the seasons except Summer, and is the complentary set to the previous DataFrame we made

#### The last thing I wanted to cover is how we can Sort a DataFrame

We'll utlize **pd.DataFrame.sort_values()**
<br><br>Which allows us to sort the rows of a dataset by column value. In this case let's sort all summer tickets by their Issue Date, and then by their Issue Time

In [103]:
df_summer.sort_values (by = ["Issue Date", "Issue time"], axis = 0, ascending = True)

,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Issue Season
Ticket number,,,,,,,,,,,,
1114229841,2015-06-02,1007,CA,2016-10-01,HOND,PA,GY,HOLLYWOOD BL/HIGHLAN,014,22500I,293,3
1110008885,2015-06-05,1535,UT,2016-09-01,CHRY,PA,WH,2836 BEACHWOOD,8058L,PREF PARKING,68,3
1109750725,2015-06-27,1033,CA,2016-01-01,MBNZ,PA,WH,5154 HOLLYWOOD BL,8069A,NO STOPPING/STANDING,93,3
1109919075,2015-07-14,1220,AZ,2016-06-01,FORD,PA,SI,WESTGATE/SANTA MONIC,8049,WRG SD/NOT PRL,63,3
1109258290,2015-08-03,807,CA,2016-02-01,MAZD,PA,BK,2900 W MARATHON,8056E4,RED ZONE,93,3
1109258301,2015-08-03,815,CA,2015-07-01,TOYO,PA,WH,844 OCCIDENTAL BL,8069BS,NO PARK/STREET CLEAN,73,3
1109258312,2015-08-03,826,CA,2016-01-01,MERC,PA,BK,863 N LAFAYETTE PARK,8069BS,NO PARK/STREET CLEAN,73,3
1109258323,2015-08-03,831,NV,2016-05-01,HYUN,PA,BK,1026 N RAMPART BL,8069BS,NO PARK/STREET CLEAN,73,3
1109258334,2015-08-03,832,CA,2016-07-01,KIA,PA,BR,1032 N RAMPART BL,8069BS,NO PARK/STREET CLEAN,73,3
1109258345,2015-08-03,905,CA,2016-06-01,FORD,PA,BK,1175 N VERMONT AVE,8813B,METER EXPIRED,63,3
1109258356,2015-08-03,1208,CA,2016-02-01,TOYO,PA,BK,1421 1/2 MALTMAN AV,8069BS,NO PARK/STREET CLEAN,73,3
1109258360,2015-08-03,1210,CA,2016-02-01,VOLK,PA,WH,933 MICHELTORENA,8069BS,NO PARK/STREET CLEAN,73,3
1109258371,2015-08-03,1215,CA,2016-04-01,KIA,PA,BL,802 N ROBINSON ST,8069BS,NO PARK/STREET CLEAN,73,3
1109258382,2015-08-03,1218,CA,NaT,VOLK,PA,BK,812 N ROBINSON ST,8069BS,NO PARK/STREET CLEAN,73,3
1109258452,2015-08-03,1425,CA,2015-12-01,HYUN,PA,GY,4700 W WILLOWBROOK,8813B,METER EXPIRED,63,3
1109258463,2015-08-03,1427,CA,2016-01-01,CHRY,PA,RE,4700 W WILLOWBROOK,8813B,METER EXPIRED,63,3
1109258474,2015-08-03,1431,CA,2015-07-01,VOLK,PA,WH,4600 W WILLOWBROOK,8056E4,RED ZONE,93,3
1096769575,2015-08-10,1655,CA,2016-04-01,VOLK,PA,WH,1282 W 29TH ST,018,22502A,63,3
1110382243,2015-08-19,840,CA,2015-08-01,HOND,SU,BK,2750 LANCASTER AVE,80714,PRIVATE PROPERTY,68,3
1104104816,2015-08-21,1400,CA,2015-08-01,TOYO,TR,BK,E/W ALLEY PCH/BROAD,8061,STNDNG IN ALLEY,68,3
1110732615,2015-08-26,1742,CA,2016-08-01,FORD,PA,BK,5400 GRIFFITH PARK,8603,PK IN PROH AREA,68,3
1104104820,2015-08-31,1700,CA,2016-02-01,NISS,PA,BK,322 BROAD AVE,013,22500H,68,3
4283522246,2016-06-01,2,CA,NaT,HYUN,PA,GO,3158 2ND ST E,80.56E4+,RED ZONE,93,3
1108695921,2016-06-01,5,CA,2016-05-01,TOYO,TR,WH,18TH ST W/O FIGUEROA,4000A1,NO EVIDENCE OF REG,50,3
1108695932,2016-06-01,7,CA,2016-05-01,HOND,PA,RE,18TH ST W/O FIGUEROA,4000A1,NO EVIDENCE OF REG,50,3
4283083932,2016-06-01,11,CA,NaT,TOYT,PA,SL,146 KINGSLEY DR N,80.58L,PREFERENTIAL PARKING,68,3
4283876100,2016-06-01,12,AZ,2016-11-01,NISS,PA,GY,920 NORTH CITRUS AVENUE,80.69B,NO PARKING,73,3
4279508951,2016-06-01,15,CA,2016-11-01,CHEV,PU,BK,245 GAGE AVE W,80.56E4+,RED ZONE,93,3
4283876111,2016-06-01,20,CA,2017-02-01,TOYT,PA,GY,960 NORTH GOWER STREET,80.69B,NO PARKING,73,3
4283876122,2016-06-01,21,CA,2016-10-01,TOYT,PA,BK,960 NORTH GOWER STREET,80.69B,NO PARKING,73,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4283375843,2016-06-09,2324,AZ,NaT,JEEP,PA,WT,1141 NORTH EL CENTRO AVENUE,80.56E4+,RED ZONE,93,3
4284038463,2016-06-09,2324,CA,2016-12-01,STRN,PA,BK,845 75TH ST W,22500H,DOUBLE PARKING,68,3
4284319922,2016-06-09,2324,CA,2016-09-01,FORD,PA,GY,6600 PACIFIC AVE S,86.06,CITY PARK/PROHIB,58,3
4283782812,2016-06-09,2325,CA,2016-09-01,FORD,PA,BK,1720 VINE ST,80.69B,NO PARKING,73,3
4281359493,2016-06-09,2326,CA,NaT,BMW,PA,BK,7400 LANKERSHIM BLVD,5200,DISPLAY OF PLATES,25,3
4284673444,2016-06-09,2326,CA,NaT,HOND,PA,WT,15234 RAYEN STREET,80.61,STANDNG IN ALLEY,68,3
4284852224,2016-06-09,2326,FL,2017-03-01,HOND,PA,OT,16500 VANOWEN STREET,80.56E4+,RED ZONE,93,3
4284742825,2016-06-09,2327,CA,2017-03-01,RROV,PA,BL,100 NORTH VENICE BLVD E,88.64A,TIME LIMIT/CITY LOT,63,3
4283375854,2016-06-09,2328,CA,2017-05-01,HOND,PA,GY,A/F 1072 NORTH EL CENTRO AVENUE,80.69B,NO PARKING,73,3
4284038474,2016-06-09,2328,CA,2016-11-01,BUIC,PA,GY,816 75TH ST W,22500F,PARKED ON SIDEWALK,68,3
4284319933,2016-06-09,2328,CA,2017-05-01,SAA,PA,BK,6600 PACIFIC AVE S,86.06,CITY PARK/PROHIB,58,3
4283375865,2016-06-09,2329,CA,2017-05-01,HOND,PA,GY,A/F 1072 NORTH EL CENTRO AVENUE,5200,DISPLAY OF PLATES,25,3
4284319944,2016-06-09,2330,CA,2016-07-01,TOYT,PA,BK,6600 PACIFIC AVE S,86.06,CITY PARK/PROHIB,58,3
4284319955,2016-06-09,2331,CA,2016-03-01,HYUN,PA,SL,6600 PACIFIC AVE S,86.06,CITY PARK/PROHIB,58,3
4284319966,2016-06-09,2333,CA,2016-03-01,HYUN,PA,SL,6600 PACIFIC AVE S,5204A-,DISPLAY OF TABS,25,3
4284508686,2016-06-09,2334,CA,2016-11-01,BMW,PA,BK,13253 SATICOY STREET,80.69A+,STOP/STAND PROHIBIT,93,3
4284319970,2016-06-09,2338,CA,NaT,TOYT,PA,GY,6600 PACIFIC AVE S,80.69B,NO PARKING,73,3
4283352765,2016-06-09,2339,CA,2016-06-01,TOYT,PA,GN,3700 2ND ST W,80.56E4+,RED ZONE,93,3
4283375876,2016-06-09,2341,CA,2016-09-01,HYUN,PA,GY,6411 WILLOUGHBY AVENUE,80.58L,PREFERENTIAL PARKING,68,3
4284319981,2016-06-09,2341,CA,2017-02-01,FORD,PA,SL,6600 PACIFIC AVE S,80.69B,NO PARKING,73,3
4284319992,2016-06-09,2343,CA,2016-06-01,FORD,PA,WT,6600 PACIFIC AVE S,80.69B,NO PARKING,73,3
4284141352,2016-06-09,2345,CA,2017-02-01,TOYT,PA,GY,1233 LAKE ST S,22514,FIRE HYDRANT,68,3
4284527424,2016-06-09,2346,CA,2016-09-01,FORD,PA,GY,250 DETROIT ST S,80.58L,PREFERENTIAL PARKING,68,3
4284141363,2016-06-09,2349,CA,2016-07-01,TOYT,PA,BL,1240 HOOVER ST S,80.56E1,WHITE ZONE,58,3
4284577286,2016-06-09,2349,CA,2015-08-01,KIA,PA,GY,718 DETROIT ST N,80.58L,PREFERENTIAL PARKING,68,3
4284079306,2016-06-09,2351,CA,2016-07-01,TOYT,PA,RD,3412 4TH ST W,80.56E1,WHITE ZONE,58,3
4284079310,2016-06-09,2352,CA,2016-07-01,HOND,PA,WT,3412 4TH ST W,80.56E1,WHITE ZONE,58,3
4284320003,2016-06-09,2353,CA,2016-09-01,LEXS,PA,BN,7600 VISTA DEL MAR,80.69B,NO PARKING,73,3
4284141374,2016-06-09,2354,CA,2017-05-01,HOND,PA,GY,2201 12TH ST,80.56E4+,RED ZONE,93,3
4284141385,2016-06-09,2356,CA,2016-03-01,GMC,PA,WT,1158 LAKE ST S,5204A-,DISPLAY OF TABS,25,3

For sake of demonstration, we can also rearrange the columns of a DataFrame as well like so:

In [104]:
# get the list of all columns
columns = list(df.columns)
columns

['Issue Date',
 'Issue time',
 'RP State Plate',
 'Plate Expiry Date',
 'Make',
 'Body Style',
 'Color',
 'Location',
 'Violation code',
 'Violation Description',
 'Fine amount',
 'Issue Season']

In [105]:
#rearrange the list of columns in the order we'd like 
columns = ['Issue Date',
 'Issue time',
 'Issue Season',
 'Fine amount',
 'Violation code',
 'Violation Description',
 'RP State Plate',
 'Plate Expiry Date',
 'Make',
 'Body Style',
 'Color',
 'Location',]

In [106]:
#Finally pass the list of new columns to our original DataFrame
df = df[columns]

In [108]:
df.head()

,Issue Date,Issue time,Issue Season,Fine amount,Violation code,Violation Description,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location
Ticket number,,,,,,,,,,,,
1103341116,2015-12-21,1251,1,50,4000A1,NO EVIDENCE OF REG,CA,2003-04-01,HOND,PA,GY,13147 WELBY WAY
1103700150,2015-12-21,1435,1,50,4000A1,NO EVIDENCE OF REG,CA,2015-12-01,GMC,VN,WH,525 S MAIN ST
1104803000,2015-12-21,2055,1,58,8939,WHITE CURB,CA,2015-03-01,NISS,PA,BK,200 WORLD WAY
1104820732,2015-12-26,1515,1,0,000,17104h,CA,NaT,ACUR,PA,WH,100 WORLD WAY
1105461453,2015-09-15,115,4,93,8069A,NO STOPPING/STANDING,CA,NaT,CHEV,PA,BK,GEORGIA ST/OLYMPIC

## ALL DONE ! <BR>
### Thanks to everyone for coming out tonight, please remember to sign out!